section.categories
  .container
    h2.title.hidden__md направления
    ul.list
      li.item
        a(href="")
          .pic
          p 
            | семейная 
            br
            | остеопатия
      li.item
        a(href="/service-1.html")
          .pic
          p.hidden__md Подготовка к&#160;беременности
          p.visible__md 
            | Подготовка 
            br
            | к&#160;беременности
      li.item
        a(href="")
          .pic
          p 
            | реабилитация 
            br
            | после травм
      li.item
        a(href="")
          .pic
          p 
            | для&#160;офисных 
            br
            | сотрудников