section.doctors
  .container
    h2.title.hidden__md врачи клиники
    ul.list.slider.hidden__md
      li.item
        .pic.pic-1
        .content
          h3.title 
            | Альтмарк 
            br
            | Екатерина Михайловна
          p.subtitle 
            | Врач остеопат 
          p.about 
            | С детства мечтала быть хирургом, вместо игрушек был старый фонендоскоп (которым слушают легкие). 
            | Поэтому когда пришла пора поступать – выбора, считай, не было. 
            | И я уехала из родного города в Первый медицинский Университет им. акад. И.П. Павлова в 1997 г. 
            | Стала хирургом, несмотря на то, что все знакомые отговаривали со словами «это не женская профессия».
          .button
            a.btn(href="") подробнее
      li.item
        .pic.pic-2
          img(src="./assets/img/doctors/doctor-1.jpg", alt="img")
        .content
          h3.title
            | Мерзлякова 
            br
            | Ирина Юрьевна
          p.subtitle 
            | Врач остеопат 
          p.about 
            | В 2003 году окончила СПбГМУ им. акад. И. П. Павлова по специальности «Лечебное дело». 
            | В 2009 году прошла цикл «Массаж медицинский» в ГОУ ДПО СПб МАПО, 
            | после чего на протяжении более чем 10 лет работала детским массажистом. 
            | В 2016 году - интернатура по специальности «Терапия». 
            | В этом же 2016 году поступила в Институт Остеопатической медицины им. В. Л. Андрианова. 
            | В 2017году - 1 цикл «Основы остеопатии». 
            | В 2019 году - 2 цикл «Базовые аспекты остеопатии». 
            | В этом же году - 3 цикл «Прикладные аспекты остеопатии». 
            | Имею сертификат специалиста по специальности «Остеопатия». 
            br
            | Владею краниальными, структуральными, висцеральными, фасциальными, мягкотканевыми техниками. 
            | Как остеопат работаю с 2017 года. К работе подхожу ответственно. 
            | Большой опыт работы с детьми и мамами.
          .button
            a.btn(href="") подробнее
      li.item
        .pic.pic-3
          img(src="./assets/img/doctors/doctor-3.jpg", alt="img")
        .content
          h3.title
            | Налимова
            br
            | Анжелика Вячеславовна
          p.subtitle 
            | Детский врач ЛФК
          p.about 
            | Закончила Ленинградский Педиатрический медицинский институт, 
            | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
            | прошла обучения в школе остеопатии (Франция) по циклу «Тканевый подход остеопатии в педиатрии», 
            | ежегодно повышает квалификацию в институте Дж. Аппледжера (США), 
            | сертифицированный специалист по Бобат и Монтессори терапии.
          .button
            a.btn(href="") подробнее
      li.item
        .pic.pic-4
          img(src="./assets/img/doctors/doctor-4.jpg", alt="img")
        .content
          h3.title
            | Никитина 
            br
            | Элеонора Викторовна
          p.subtitle 
            | Врач остеопат
          p.subtitle 
            | ОСТЕОПАТ, ХИРУРГ
          p.about 
            | Закончила Ленинградский Педиатрический медицинский институт, 
            | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
            | прошла обучения в школе остеопатии (Франция) по циклу «Тканевый подход остеопатии в педиатрии», 
            | ежегодно повышает квалификацию в институте Дж. Аппледжера (США), 
            | сертифицированный специалист по Бобат и Монтессори терапии.
          .button
            a.btn(href="") подробнее
      li.item
        .pic.pic-5
          img(src="./assets/img/doctors/doctor-5.jpg", alt="img")
        .content
          h3.title
            | Рыбаков 
            br
            | Виталий
          p.subtitle 
            | Тренер
          p.about 
            | Закончила Ленинградский Педиатрический медицинский институт, 
            | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
            | прошла обучения в школе остеопатии (Франция) по циклу «Тканевый подход остеопатии в педиатрии», 
            | ежегодно повышает квалификацию в институте Дж. Аппледжера (США), 
            | сертифицированный специалист по Бобат и Монтессори терапии.
          .button
            a.btn(href="") подробнее
    .tabs.visible__md
      .part
        h2.title врачи клиники
        ul.tab__list(data-tabgroup="first-tab-group")
          li.tab
            a.active(href="#tab1") 
              | Альтмарк 
              br
              | Екатерина Михайловна
          li.tab
            a(href="#tab2")
              | Мерзлякова 
              br
              | Ирина Юрьевна
          li.tab
            a(href="#tab3")
              | Налимова 
              br
              | Анжелика Вячеславовна
          li.tab
            a(href="#tab4")
              | Никитина 
              br
              | Элеонора Викторовна
          li.tab
            a(href="#tab5")
              | Рыбаков 
              br
              | Виталий
      .part.tabgroup#first-tab-group
        .person#tab1
          .content.pic-1
            h3.title 
              | Альтмарк 
              br
              | Екатерина Михайловна
            p.subtitle 
              | Врач остеопат 
            p.about 
              | Закончила Ленинградский Педиатрический медицинский институт, 
              | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
              | прошла обучения в школе остеопатии (Франция) по циклу «Тканевый подход остеопатии в педиатрии», 
              | ежегодно повышает квалификацию в институте Дж. Аппледжера (США), 
              | сертифицированный специалист по Бобат и Монтессори терапии.
            .button
              a.btn(href="") подробнее
        .person#tab2
          .content.pic-2
            h3.title
              | Мерзлякова 
              br
              | Ирина Юрьевна
            p.subtitle 
              | Врач остеопат 
            p.about 
              | В 2003 году окончила СПбГМУ им. акад. И. П. Павлова по специальности «Лечебное дело». 
              | В 2009 году прошла цикл «Массаж медицинский» в ГОУ ДПО СПб МАПО, после чего на протяжении более чем 10 лет работала детским массажистом. 
              | В 2016 году - интернатура по специальности «Терапия». 
              | В этом же году поступила в Институт Остеопатической медицины им. В. Л. Андрианова. 
              | В 2017 году - 1 цикл «Основы остеопатии». 
              | В 2019 году - 2 цикл «Базовые аспекты остеопатии». 
              | В этом же году - 3 цикл «Прикладные аспекты остеопатии». 
              | Имею сертификат специалиста по специальности «Остеопатия». 
              br
              | Владею краниальными, структуральными, висцеральными, фасциальными, мягкотканевыми техниками. 
              | Как остеопат работаю с 2017 года. К работе подхожу ответственно. 
              | Большой опыт работы с детьми и мамами.
            .button
              a.btn(href="") подробнее
        .person#tab3
          .content.pic-3
            h3.title
              | Налимова
              br
              | Анжелика Вячеславовна
            p.subtitle 
              | Детский врач ЛФК
            p.about 
              | закончила Ленинградский Педиатрический медицинский институт, 
              | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
              | прошла обучения в школе остеопатии (Франция).
            .button
              a.btn(href="") подробнее
        .person#tab4
          .content.pic-4
            h3.title
              | Никитина 
              br
              | Элеонора Викторовна
            p.subtitle 
              | Врач остеопат
            p.about 
              | закончила Ленинградский Педиатрический медицинский институт, 
              | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
              | прошла обучения в школе остеопатии (Франция).
            .button
              a.btn(href="") подробнее
        .person#tab5
          .content.pic-5
            h3.title
              | Рыбаков 
              br
              | Виталий
            p.subtitle 
              | Тренер
            p.about 
              | закончила Ленинградский Педиатрический медицинский институт, 
              | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
              | прошла обучения в школе остеопатии (Франция).
            .button
              a.btn(href="") подробнее