section.doctors
  .container
    h2.title врачи клиники
    ul.list
      li.item
        .pic.pic-1
        .content
          h3.title 
            | Альтмарк 
            br
            | Екатерина Михайловна
          p.subtitle 
            | ОСТЕОПАТ, КАНДИДАТ МЕДИЦИНСКИХ НАУК, ХИРУРГ
          p.about 
            | С детства мечтала быть хирургом, вместо игрушек был старый фонендоскоп (которым слушают легкие). 
            | Поэтому когда пришла пора поступать – выбора, считай, не было. 
            | И я уехала из родного города в Первый медицинский Университет им. акад. И.П. Павлова в 1997 г. 
            | Стала хирургом, несмотря на то, что все знакомые отговаривали со словами «это не женская профессия».
          .button
            a(href="") подробнее
      //- li.item
      //-   .pic.pic-2
      //-   .content
      //-     h3.title 
      //-       | Малашенкова 
      //-       br
      //-       | Надежда Владимировна
      //-     p.subtitle 
      //-       | ОСТЕОПАТ, ХИРУРГ
      //-     p.about 
      //-       | Закончила Ленинградский Педиатрический медицинский институт, 
      //-       | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
      //-       | прошла обучения в школе остеопатии (Франция) по циклу «Тканевый подход остеопатии в педиатрии», 
      //-       | ежегодно повышает квалификацию в институте Дж. Аппледжера (США), 
      //-       | сертифицированный специалист по Бобат и Монтессори терапии.
      //-     .button
      //-       a(href="") подробнее