section.doctors
  .container
    h2.title.hidden__md врачи клиники
    ul.list.slider.hidden__md
      li.item
        .pic.pic-1
          img(src="./assets/img/doctors/doctor-1.png", alt="img")
        .content
          h3.title 
            | Альтмарк 
            br
            | Екатерина Михайловна
          p.subtitle 
            | ОСТЕОПАТ, КАНДИДАТ МЕДИЦИНСКИХ НАУК, ХИРУРГ
          p.about 
            | С детства мечтала быть хирургом, вместо игрушек был старый фонендоскоп (которым слушают легкие). 
            | Поэтому когда пришла пора поступать – выбора, считай, не было. 
            | И я уехала из родного города в Первый медицинский Университет им. акад. И.П. Павлова в 1997 г. 
            | Стала хирургом, несмотря на то, что все знакомые отговаривали со словами «это не женская профессия».
          .button
            a.btn(href="") подробнее
      li.item
        .pic.pic-2
          img(src="./assets/img/doctors/doctor-1.png", alt="img")
        .content
          h3.title 
            | Малашенкова 
            br
            | Надежда Владимировна
          p.subtitle 
            | ОСТЕОПАТ, ХИРУРГ
          p.about 
            | Закончила Ленинградский Педиатрический медицинский институт, 
            | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
            | прошла обучения в школе остеопатии (Франция) по циклу «Тканевый подход остеопатии в педиатрии», 
            | ежегодно повышает квалификацию в институте Дж. Аппледжера (США), 
            | сертифицированный специалист по Бобат и Монтессори терапии.
          .button
            a.btn(href="") подробнее
    .tabs.visible__md
      .part(data-tabgroup="first-tab-group")
        h2.title врачи клиники
        ul.tab__list
          li.tab
            a.active(href="#tab1") 
              | Альтмарк 
              br
              | Екатерина Михайловна
          li.tab
            a(href="#tab2") 
              | Малашенкова 
              br
              | Надежда Владимировна
      .part#first-tab-group
        .person#tab1
          .content
            h3.title 
              | Малашенкова 
              br
              | Надежда Владимировна
            p.subtitle 
              | ОСТЕОПАТ, ХИРУРГ
            p.about 
              | Закончила Ленинградский Педиатрический медицинский институт, 
              | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
              | прошла обучения в школе остеопатии (Франция) по циклу «Тканевый подход остеопатии в педиатрии», 
              | ежегодно повышает квалификацию в институте Дж. Аппледжера (США), 
              | сертифицированный специалист по Бобат и Монтессори терапии.
            .button
              a.btn(href="") подробнее
          .pic
            img(src="./assets/img/doctors/doctor-2.png", alt="img")
        //- .person#tab2
        //-   .content
        //-     h3.title
        //-       | Иванова 
        //-       br
        //-       | Инесса Евгеньевна
        //-     p.subtitle 
        //-       | ОСТЕОПАТ, ХИРУРГ
        //-     p.about 
        //-       | закончила Ленинградский Педиатрический медицинский институт, 
        //-       | Европейскую школу остеопатии (Мейдстоун, Великобритания), 
        //-       | прошла обучения в школе остеопатии (Франция).
        //-     .button
        //-       a.btn(href="") подробнее
        //-   .pic
        //-     img(src="./assets/img/doctors/doctor-2.png", alt="img")