footer.footer
  include ./call
  .part
    include ./map
  .part
    .container
      p 
        | © 
        span.date
        |  Все права защищены 
        a(href="https://uno-agency.ru/", target='_blank') 
          b UNO Advertising