footer.footer
  .part
    .container
      .block
        .pic
          img(src="./assets/img/icons/icon-logo.svg", alt="img")
        .pic.hidden__md
          img(src="./assets/img/logo-title.svg", alt="img")
      .block.visible__md
        ul.list
          li.item
            a(href="") УСЛУГИ
          li.item
            a(href="") ВРАЧИ
          li.item
            a(href="") ЦЕНЫ
          li.item
            a(href="") ВАКАНСИИ
          li.item
            a(href="") КОНТАКТЫ
      .block
        .contacts
          a(href="telto:+79819980535") +7 (981) 998 05 35
          a(href="mailto:info@ooodoctor.ru") info@ooodoctor.ru
        p.adress
          img(src="./assets/img/icons/icon-metro.svg", alt="icon") 
          | Петроградская
          br
          | ул. Староалексеевская, 8
      .block
        include ./socials
        .button
          a.btn(href="") записаться на прием
  .part
    .container
      p 
        | © 
        span.date
        |  Все права защищены 
        a(href="https://uno-agency.ru/") 
          b UNO Advertising