form.form
  input(type="hidden" name="project_name" value="Бизнес-центр")
  input(type="hidden" name="admin_email" value="v.belinovich@uno-agency.ru")
  input(type="hidden" name="form_subject" value="Вопрос с формы сайта protiv-grippa")
  .form__field
    input.input(type="text" name='имя' placeholder='Ваше имя' required)
    input.input(type="text" name='email' placeholder='Ваш e-mail' required)
  .form__field
    textarea.textarea(name='вопрос' placeholder='Ваш вопрос' required)
  .form__field
    button.button связаться с нами