header.header
  .container
    a.logo.hidden__md(href="/")
      img(src="./assets/img/icons/icon-logo.svg", alt="logo")
    h3.title.hidden__md
      | Клиника остеопатии
      br
      | и&#160;реабилитации
    .burger
      input#menu-switch.hidden__md(type="checkbox")
      nav#navigation
        ul.list
          li.item.visible__md
            a.logo(href="/")
              img(src="./assets/img/icons/icon-logo.svg", alt="logo")
          li.item
            a.link(href="/about.html") о клинике
          li.item.visible__md
            a.link(href="") врачи
            ul.doctors__list
              li.doctor
                a(href="/doctor-1.html") Альтмарк Екатерина Михайловна
          li.item
            a.link(href="/services.html") услуги
            ul.doctors__list
              li.doctor
                a(href="/service-1.html") Подготовка к беременности
              li.doctor
                a(href="/service-2.html") Восстановление после родов
              li.doctor
                a(href="/service-4.html") Реабилитация после травм
              li.doctor
                a(href="/service-5.html") Предложение для офисных сотрудников
              li.doctor
                a(href="/service-6.html") Остеопатия для взрослых
              li.doctor
                a(href="/service-7.html") Остеопатия для детей
              li.doctor
                a(href="/service-8.html") Лечебная физкультура для детей
              li.doctor
                a(href="/service-10.html") Остеопатия для беременных 
          li.item
            a.link(href="/prices.html") цены
          li.item
            a.link(href="/reviews.html") отзывы
          li.item
            a.link(href="/contacts.html") контакты
          li.item
            a.link(href="/hire.html") вакансии
          li.list__pages
            ul.pages
              li.item__page
                a(href="/service-1.html") Подготовка к беременности
              li.item__page
                a(href="/service-2.html") Восстановление после родов
              li.item__page
                a(href="/service-4.html") Реабилитация после травм
              li.item__page
                a(href="/service-5.html") Предложение для офисных сотрудников
              li.item__page
                a(href="/service-6.html") Остеопатия для взрослых
              li.item__page
                a(href="/service-7.html") Остеопатия для детей
              li.item__page
                a(href="/service-8.html") Лечебная физкультура для детей
              li.item__page
                a(href="/service-10.html") Остеопатия для беременных 
        .quick-contact.hidden__md
          p.contacts 
            a(href="tel:+79217435359") +7 (921) 743-53-59 
            br 
            a(href="mailto:mail@lekarspb.ru") mail@lekarspb.ru
          p.address
            img(src="./assets/img/icons/icon-metro.svg", alt="icon") 
            | Петроградская
            br
            | ул. Староалексеевская, 8
          .button
            a.btn(href="") записаться на прием
      label.menu-switch.hidden__md(for='menu-switch')
        span