header.header
  .container
    a.logo 
      img(src="./assets/img/icons/icon-logo.svg", alt="logo")
    h3.title
      | Клиника остеопатии
      br
      | и&#160;реабилитации
    .burger
      input#menu-switch(type="checkbox")
      nav#navigation
        ul.list
          li.item
            a.link(href="/contacts.html") контакты
          li.item
            a.link(href="") События
        .quick-contact
          address.visible__md
            | 190121 Санкт-Петербург,
            br 
            | Английская наб., 70
          p.contacts 
            | Телефон: 
            a(href="tel:+79217435359") +7 (921) 743-53-59 
            br 
            | e-mail: 
            a(href="mailto:office-centre@mail.ru") office-centre@mail.ru
      label.menu-switch(for='menu-switch')
        span