main.main
  .container
    svg.triangle(viewbox="0 0 100 100", preserveAspectRatio="none")
      polygon(points="100,0 0,100 100,100")
    .title
      ul.list
        li.item
        li.item
      .content
        p.text-1.visible__md 
          | Клиника остеопатии 
          br
          | и реабилитации
        span
        h1
          | лекарь
          img(src="./assets/img/logo-title.svg", alt="img")
        p.text-2
          | Мы заботимся 
          br
          | о&#160;вашем здоровье 
          br
          | каждый день
    p.descr
      | Система альтернативной медицины, основанная на «диалоге с&#160;тканями» 
      | пациента&#160;&#8209;&#160;процессе задавания вопроса живой структуре и&#160;получения от&#160;неё ответа, 
      | биокоммуникации, биологическом общении.
    .button
      a.btn(href="") записаться на прием