main.main
  .container
    .title
      .content
        p.visible__md 
          | Клиника остеопатии 
          br
          | и реабилитации
        span
        h1
          | лекарь
          img(src="./assets/img/logo-title.svg", alt="img")
        p
          | Мы заботимся 
          br
          | о&#160;вашем здоровье 
          br
          | каждый день
    p 
      | Система альтернативной медицины, 
      | основанная на «диалоге с тканями» пациента — 
      | процессе задавания вопроса живой структуре и получения от неё ответа, 
      | биокоммуникации, биологическом общении.
    .button
      a(href="") записаться на прием