.wpcf7#wpcf7-f84-o1(role="form"  lang="ru-RU" dir="ltr")
  .screen-reader-response
  form.wpcf7-form.form
    div(style="display: none;")
      input(type="hidden" name="_wpcf7" value="5")
      input(type="hidden" name="_wpcf7_version" value="5.1.6")
      input(type="hidden" name="_wpcf7_locale" value="ru_RU")
      input(type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-o1")
      input(type="hidden" name="_wpcf7_container_post" value="0")
    .form__content
      .part
        .form__field
          span.wpcf7-form-control-wrap.your-name
            input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.input(type="text" name="your-name" value="" size="40" aria-required="true" aria-invalid="false" placeholder="ФИО")
          span.wpcf7-form-control-wrap.your-phone
            input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.input(type="text" name="your-phone" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Телефон")
          span.wpcf7-form-control-wrap.your-email
            input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.input(type="email" name="your-email" value="" size="40" aria-required="true" aria-invalid="false" placeholder="E-mail")
      .part
        .form__field
          span.wpcf7-form-control-wrap
            input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.input(type="text" name="your-text" value="" size="40" aria-required="true" aria-invalid="false" placeholder="Какого специалиста вы посещали")
          span.wpcf7-form-control-wrap.textarea-494
            textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.textarea(name="textarea-494" cols="40" rows="10" aria-required="true" aria-invalid="false" placeholder="Ваш отзыв")
        p
          input(type="hidden" name="_wpcf7_captcha_challenge_captcha-170" value="60641124")
          img(class="wpcf7-form-control wpcf7-captchac wpcf7-captcha-captcha-170" width="72" height="24" alt="captcha" src="http://lekarspb.ru/wp-content/uploads/wpcf7_captcha/60641124.png")
          span.wpcf7-form-control-wrap.captcha-170
            input.wpcf7-form-control.wpcf7-captchar(type="text" name="captcha-170" value="" size="4" maxlength="4" class="" autocomplete="off" aria-invalid="false")
        .row
          .form__field
            input.wpcf7-form-control.wpcf7-submit.button(type="submit" value="Отправить")
            span.ajax-loader
          .form__field
            p Нажимая кнопку "Отправить", вы подтверждаете свое согласие на обработку персональных данных (ФИО, телефон, email) в соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных». 
            p
              a(href="/confidential.html") Политика конфиденциальности
    .wpcf7-response-output.wpcf7-display-none Одно или несколько полей содержат ошибочные данные. Пожалуйста, проверьте их и попробуйте ещё раз.