.timetable
  aside.aside
    ul.list
      li.item
        p Врач-остеопат
        p 
          | Альтмарк 
          br
          | Екатерина Михайловна
      li.item
        p Врач-остеопат
        p 
          | Мерзлякова 
          br
          | Ирина Юрьевна
      li.item
        p Детский врач ЛФК
        p 
          | Налимова 
          br
          | Анжелика Вячеславовна
      li.item
        p Врач-остеопат
        p 
          | Никитина 
          br
          | Элеонора Викторовна
      li.item
        p Тренер
        p 
          | Рыбаков 
          br
          | Виталий
  section.days
    .shedule
      .header
        ul.list
          li.item
            p 
              span.day пн. 
              span.digital 11
          li.item
            p 
              span.day вт. 
              span.digital 12
          li.item
            p 
              span.day ср. 
              span.digital 13
          li.item
            p 
              span.day чт. 
              span.digital 14
          li.item
            p 
              span.day пт. 
              span.digital 15
          li.item
            p 
              span.day сб. 
              span.digital 16
          li.item
            p 
              span.day вс. 
              span.digital 17
          li.item
            p 
              span.day пн. 
              span.digital 18
          li.item
            p 
              span.day вт. 
              span.digital 19
      .room__dayline
        .line
          ul.cell__list
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.red
              span.time 08:00 - 16:00
              span.status Нет мест
            li.cell.yellow.active
              span.time 08:00 - 16:00
              span.status Мало мест
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
        .line
          ul.cell__list
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.red
              span.time 08:00 - 16:00
              span.status Нет мест
            li.cell.yellow.active
              span.time 08:00 - 16:00
              span.status Мало мест
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
        .line
          ul.cell__list
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.red
              span.time 08:00 - 16:00
              span.status Нет мест
            li.cell.yellow.active
              span.time 08:00 - 16:00
              span.status Мало мест
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
        .line
          ul.cell__list
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.red
              span.time 08:00 - 16:00
              span.status Нет мест
            li.cell.yellow.active
              span.time 08:00 - 16:00
              span.status Мало мест
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
        .line
          ul.cell__list
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.red
              span.time 08:00 - 16:00
              span.status Нет мест
            li.cell.yellow.active
              span.time 08:00 - 16:00
              span.status Мало мест
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
            li.cell
            li.cell.green.active
              span.time 08:00 - 16:00
              span.status Есть места
  .modal-container
    .modal-background
      .modal
        .close
          a.btn
        .content
          .title
            h2 Записаться на приём
            p Введите свои ФИО, телефон и выберите удобное время приёма
          .inner
            form.form(action="")
              .field
                input.input(type="text" placeholder="Ваши ФИО")
              .field
                input.input(type="text" placeholder="Ваш номер телефона")
              ul.time__box
                li.time__field
                  input.input__time#123(type="radio" value="123")
                  label(for="123")
                    span.digits 08:20 - 08:40
                    span.room Кабинет 4
                li.time__field
                  input.input__time#345(type="radio" value="345")
                  label(for="345")
                    span.digits 09:20 - 09:40
                    span.room Кабинет 2
              .button
                input(type="submit" value="Записаться")
        .content.hidden
          .title
            p Спасибо! Скоро с вами свяжется администратор
          .button
            a.btn Выбрать другое время