.burger {
  width: 18px;
  height: 44px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-left: 31px;

  & .menu-switch{
    width: 18px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: translateZ(0);
    z-index: -1;
    
    & span,
    &::before,
    &::after{
      content: '';
      width: 18px;
      height: 2px;
      position: absolute;
      left: 0%;
      top: 50%;
      margin-left: 0;
      margin-top: -1px;
      background-color: $black;
      transition: all 0.3s ease-in-out;
      transform: translateZ(0);
    }

    & span{
      width: 18px;
    }

    &::before{
      margin-top: -8px;
    }

    &::after{
      margin-top: 6px;
    }
  }

  & #menu-switch {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  & #menu-switch:not(:checked) ~ .menu-switch:hover span {
    width: 18px;
  }

  & #menu-switch:not(:checked) ~ .menu-switch:hover::before, 
  & #menu-switch:not(:checked) ~ .menu-switch:hover::after {
      width: 18px;
  }

  & #menu-switch:checked ~ .menu-switch span {
    opacity: 0;
    width: 18px;
    transform: rotate(350deg);
  }

  & #menu-switch:checked ~ .menu-switch::before,
  & #menu-switch:checked ~ .menu-switch::after {
    margin-top: -1px;
  }

  & #menu-switch:checked ~ .menu-switch::before {
      transform: rotate(45deg);
  }

  & #menu-switch:checked ~ .menu-switch::after {
    transform: rotate(-45deg);
}

  & #navigation{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 60px;
    left: 0;
    justify-content: center;
    background: $white;
    transition: all 0.3s ease-in-out;
    transform: translate(0, 90px);
    opacity: 0;
    pointer-events: none;

    & ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      flex: auto;
      padding-left: 20px;
      width: 100%;

      & li{
        transition: .2s;
        margin-bottom: 10px;

        & ul.list{
          margin-top: 10px;
          & li.item{
            margin-bottom: 5px;
            & a{
              font-size: $fz5;
              padding: 0;
              display: inline-block;
              &:hover,
              &:active{
                background-color: transparent;
              }
              
            }
          }
        }
        a{
          font-size: $fz8;
          line-height: $lineHeight2;
          text-transform: initial;
        }
      }
    }
  }

  & .quick-contact{
    flex-basis: inherit;

    & a.logo{
      position: relative;
      transform: rotate(0deg);
      flex-direction: column;
      left: auto;
      align-items: flex-start;
      font-size: $fz13;
      color: $headerColor;
      display: none;

      & span{
        display: block;
        margin-right: 0;
      }

      &:hover{
        color: inherit;
      }
    }

    & address{
      font-style: normal;
      margin: 2em 0;
      color: $yellow;
      font-size: $fz5;
      line-height: 160%;
    }

    & .contacts{
      font-style: normal;
    
      color: $yellow;
      font-size: $fz5;
      line-height: 160%;

      & a{
        color: $yellow;
        font-weight: $semiBold;
      }
    }
  }

  & #menu-switch:checked ~ #navigation{
    pointer-events: initial;
    opacity: 1;
    transform: translate(0, 0);
    cursor: default;
    flex-direction: column;
    background-color: $midBlue;
  }
}

@media (min-width: 768px) {
  .burger{
    width: 108px;

    & .menu-switch{
      width: 108px;
    }
  }
}

@media (min-width: 992px) {
  
  .menu-switch{
    display: none;
  }

  #navigation{
    top: 0;
    width: 100%;
    justify-content: space-around;
    position: relative;
    opacity: 1;
    background: transparent;
    transform: translateY(0px);

    & ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      & li:first-child{
        position: relative;
        & a:hover ~ ul.list,
        ul.list:hover{
          display: block;
          opacity: 1;
          width: 121px;
          position: absolute;
          background-color: $white;
          top: 50%;
          border-radius: 0 0 20px 20px;
          padding-top: 20px;
          left: 0;
          width: 100%;
          & li{
            padding: 0 5px;
            & a{
              background-color: transparent;
              color: $midBlue;
              font-size: $fz3;
              font-weight: $medium;
              padding: 10px 0;
              text-transform: inherit;
              border-bottom: .5px solid rgba(0,98,217,.5);
              border-radius: 0;
              &:hover{
                color: $red;
              }
            }
            &:last-child{
              & a{
                border-bottom: none;
              }
            }
          }
          
        }
        & a:hover{
          background-color: #fff;
          color: $midBlue;
        }
        & .first__link{
          background-color: #fff;
          color: $midBlue;
          position: relative;
          z-index: 1;
        }
      } 

      & li {
        text-align: left;
        margin-bottom: 0;
        text-align: center;
        & ul.list{
          display: none;
          opacity: 0;
          transition: .2s;
        }
        & a{
          font-size: $fz4;
          text-transform: uppercase;
          &.logo{
            position: relative;
            & p{
              font-size: $fz4;
            }
          }
        }
      }
    }

    & .quick-contact{
      flex-basis: 50%;

      & a.logo{
        position: relative;
        transform: rotate(0deg);
        flex-direction: column;
        left: auto;
        align-items: flex-start;
        font-size: $fz13;
        color: $headerColor;
        display: block;

        & span{
          display: block;
          margin-right: 0;
        }

        &:hover{
          color: inherit;
        }
      }

      & address{
        font-style: normal;
      
        margin: 2em 0;
        color: $gray2;
        font-size: $fz5;
        line-height: 160%;
      }

      & .contacts{
        font-style: normal;
      
        color: $gray2;
        font-size: $fz5;
        line-height: 160%;

        & a{
          color: $stage;
          font-weight: $semiBold;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #navigation{
    & ul {
      & li:first-child{
        & a:hover ~ ul.list,
        ul.list:hover{
          & li{
            padding: 0 10px;
          }
        }
      }
    }
  }
}