.burger {
  width: 18px;
  height: 44px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  margin-left: 31px;

  & .menu-switch{
    width: 18px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: translateZ(0);
    z-index: -1;
    
    & span,
    &::before,
    &::after{
      content: '';
      width: 18px;
      height: 2px;
      position: absolute;
      left: 0%;
      top: 50%;
      margin-left: 0;
      margin-top: -1px;
      background-color: $black;
      transition: all 0.3s ease-in-out;
      transform: translateZ(0);
    }

    & span{
      width: 18px;
    }

    &::before{
      margin-top: -8px;
    }

    &::after{
      margin-top: 6px;
    }
  }

  & #menu-switch {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  & #menu-switch:not(:checked) ~ .menu-switch:hover span {
    width: 18px;
  }

  & #menu-switch:not(:checked) ~ .menu-switch:hover::before, 
  & #menu-switch:not(:checked) ~ .menu-switch:hover::after {
      width: 18px;
  }

  & #menu-switch:checked ~ .menu-switch span {
    opacity: 0;
    width: 18px;
    transform: rotate(350deg);
  }

  & #menu-switch:checked ~ .menu-switch::before,
  & #menu-switch:checked ~ .menu-switch::after {
    margin-top: -1px;
  }

  & #menu-switch:checked ~ .menu-switch::before {
      transform: rotate(45deg);
  }

  & #menu-switch:checked ~ .menu-switch::after {
    transform: rotate(-45deg);
}

  & #navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    top: 64px;
    left: 0;
    background: $white;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.15);
    transform: translate(0, 90px);
    opacity: 0;
    pointer-events: none;
    & ul{
      display: flex;
      flex-direction: column;
      text-align: center;
      flex: auto;
      width: 100%;
      & li{
        transition: .2s;
        height: 14.28%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        position: relative;
        & a{
          font-size: $fz5;
          padding: 0;
          display: inline-block;
          color: $white;
          text-transform: uppercase;
          font-weight: $bold;
          transition: .2s;
          &:hover,
          &:active{
            color: $black;
          }
          
        }
        & ul.doctors__list{
          display: none;
        }
        &::after{
          display: block;
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          bottom: -4px;
          margin: auto;
          width: 8px;
          height: 8px;
          background-image: url('/assets/img/icons/icon-menu.svg');
          background-size: contain;
          background-position: 50%;
          background-repeat: no-repeat;
        }
        &:last-child{
          &::after{
            display: none;
          }
        }
        &.visible__md{
          display: none;
        }
      }
    }
  }

  & .quick-contact{
    width: 100%;
    background-color: $green;
    text-align: center;
    padding: 20px 10px;
    & p.address{
      font-style: normal;
      margin: 1.5em 0;
      color: $white;
      font-size: $fz6;
      line-height: 160%;
      & img{
        display: inline-block;
        margin-right: 6px;
      }
    }

    & p.contacts{
      font-style: normal;
      font-size: $fz5;
      line-height: 160%;
      & a{
        color: $white;
        font-weight: $bold;
        font-size: $fz8;
      }
    }

    & .button{
      & a{
        color: $black;
        font-weight: $bold;
        background-color: $white;
        padding: 0px 65px 0px 40px;
        background-image: url('/assets/img/icons/icon-btn-arrow-black.svg');
      }
    }
  }

  & #menu-switch:checked ~ #navigation{
    pointer-events: initial;
    opacity: 1;
    transform: translate(0, 0);
    cursor: default;
    flex-direction: column;
    background-color: $orange;
  }
}

@media (min-width: $smDesktopWidth) {
  .burger{
    width: 100%;
    margin-left: 0;
    height: 100%;
    cursor: inherit;
    & #navigation{
      position: relative;
      opacity: 1;
      transform: inherit;
      flex-direction: row;
      top: 0;
      box-shadow: none;
      pointer-events: inherit;
      height: 100%;
      & ul{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        & li{
          height: auto;
          flex-grow: 1;
          height: 100%;
          & a{
            font-size: $fz7;
            color: $black;
            height: 100%;
            display: flex;
            align-items: center;
            &:hover{
              color: $green;
            }
            &:hover + ul.doctors__list{
              display: block;
              opacity: 1;
            }
            &:active{
              color: $orange;
            }
            &.logo{
              & img{
                max-width: 65px;
                height: 100%;
              }
            }
          }
          &::after{
            right: -4px;
            left: auto;
            bottom: 0;
            top: 0;
            background-image: url('/assets/img/icons/icon-menu-gray.svg');
          }
          &:last-child{
            &::after{
              display: none;
            }
          }
          &.visible__md{
            display: flex;
          }
          & ul.doctors__list{
            display: none;
            opacity: 0;
            position: absolute;
            top: 62px;
            background-color: $white;
            padding: 5px 20px;
            width: 160px;
            height: auto;
            & li.doctor{
              border-bottom: 1px solid $borderColor;
              & a{
                font-size: $fz4;
                text-align: left;
                text-transform: inherit;
                font-weight: $medium;
                padding: 14px 0;
              }
              &::after{
                display: none;
              }
              &:last-child{
                border-bottom: none;
              }
            }
            &:hover{
              display: block;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}