section.doctors {
  margin-bottom: 20px;
  & .container {
    padding: 0;
    & ul.list {
      background-image: url("/assets/img/bg/doctors-bg.jpg");
      background-size: cover;
      background-position: 50%;
      background-repeat: repeat;
      & .pic {
        background-color: $lightGreen;
        height: 250px;
        font-size: 0;
        text-align: center;
        width: 100%;
        padding-top: 100%;
        background-image: url("/assets/img/doctors/doctor-1.jpg");
        background-size: cover;
        background-position: 50% 0;
        background-repeat: no-repeat;
        overflow: hidden;
        &.pic-2 {
          background-image: url("/assets/img/doctors/doctor-2.jpg");
        }
        &.pic-3 {
          background-image: url("/assets/img/doctors/doctor-3.jpg");
        }
        &.pic-4 {
          background-image: url("/assets/img/doctors/doctor-4.jpg");
        }
        &.pic-5 {
          background-image: url("/assets/img/doctors/doctor-5.jpg");
        }
        &.pic-6 {
          background-image: url("/assets/img/doctors/doctor-6.jpg");
        }
      }
      & .content {
        padding: 45px 20px 30px;
        background-color: transparent;
        & h3.title {
          font-size: $fz10;
          margin-bottom: 20px;
        }
        & p.subtitle {
          color: $green;
          font-size: $fz2;
          font-weight: $bold;
          letter-spacing: $ls1;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        & p.about {
          font-size: $fz5;
          font-family: $altFont;
          font-weight: $bold;
          line-height: $mainLineHeight;
          font-style: italic;
          margin-bottom: 20px;
        }
        & .button {
          & a.btn {
            color: $black;
            background-color: transparent;
            border: 1px solid $green;
            padding: 0 70px 0 45px;
            background-image: url("/assets/img/icons/icon-btn-arrow-black.svg");
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  section.doctors {
    margin-bottom: 20px;
  }
}

@media (min-width: $smDesktopWidth) {
  section.doctors {
    margin-bottom: 65px;
    & .container {
      background-image: url("/assets/img/bg/doctors-desktop-bg.jpg");
      background-size: cover;
      background-position: 50%;
      background-repeat: repeat;
      position: relative;
      & .tabs {
        display: flex;
        align-items: flex-start;
        align-items: stretch;
        min-height: 920px;
        & .part {
          width: 50%;
          &:first-child {
            display: flex;
            flex-direction: column;
            border-right: 1px solid $white;
            padding-top: 100px;
            padding-right: 5%;
            & h2.title {
              font-size: $fz10;
              &::before {
                background-image: url("/assets/img/icons/icon-title-black.svg");
              }
            }
            & ul.tab__list {
              text-align: center;
              & li.tab {
                padding-bottom: 25px;
                margin-bottom: 25px;
                position: relative;
                & a {
                  font-size: $fz7;
                  text-transform: uppercase;
                  cursor: pointer;
                  &.active {
                    color: $orange;
                  }
                }
                &::after {
                  display: block;
                  position: absolute;
                  content: "";
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                  width: 50%;
                  height: 1px;
                  background-color: $borderColor;
                }
                &:last-child {
                  &::after {
                    display: none;
                  }
                }
              }
            }
          }
          &:last-child {
            & .person {
              display: flex;
              height: 100%;
              & .content {
                display: flex;
                flex-direction: column;
                background-color: transparent;
                padding-top: 70px;
                padding-bottom: 80px;
                background-size: cover;
                background-position: 45% 0;
                background-repeat: no-repeat;
                width: 100%;
                background-image: linear-gradient(
                    90deg,
                    #d7e7d9 0%,
                    rgba(215, 231, 217, 0) 34.93%
                  ),
                  url("/assets/img/doctors/doctor-1.jpg");
                & > * {
                  width: 40%;
                  margin-left: -15%;
                }
                & h3.title {
                  font-size: $fz11;
                  margin-bottom: 40px;
                }
                & p.subtitle {
                  font-size: $fz6;
                  letter-spacing: $ls1;
                  margin-bottom: 40px;
                  color: $green;
                  font-weight: $bold;
                }
                & p.about {
                  font-style: italic;
                  margin-bottom: 40px;
                  font-size: $fz6;
                  font-family: $altFont;
                  font-weight: $bold;
                }
                & .button {
                  text-align: left;
                  position: relative;
                  & a.btn {
                    border: 1px solid $green;
                    background-color: transparent;
                    color: $black;
                    padding: 0 85px 0 50px;
                    background-image: url("/assets/img/icons/icon-btn-arrow-black.svg");
                  }
                }
                &.pic-2 {
                  background-image: linear-gradient(
                      90deg,
                      #d7e7d9 0%,
                      rgba(215, 231, 217, 0) 34.93%
                    ),
                    url("/assets/img/doctors/doctor-2.jpg");
                }
                &.pic-3 {
                  background-image: linear-gradient(
                      90deg,
                      #d7e7d9 0%,
                      rgba(215, 231, 217, 0) 34.93%
                    ),
                    url("/assets/img/doctors/doctor-3.jpg");
                }
                &.pic-4 {
                  background-image: linear-gradient(
                      90deg,
                      #d7e7d9 0%,
                      rgba(215, 231, 217, 0) 34.93%
                    ),
                    url("/assets/img/doctors/doctor-4.jpg");
                }
                &.pic-5 {
                  background-position: 50% 0;
                  background-image: linear-gradient(
                      90deg,
                      #d7e7d9 0%,
                      rgba(215, 231, 217, 0) 34.93%
                    ),
                    url("/assets/img/doctors/doctor-5.jpg");
                }
                &.pic-6 {
                  background-position: 50% 0%;
                  background-image: linear-gradient(
                      90deg,
                      #d2af8c,
                      rgba(215, 231, 217, 0) 34.93%
                    ),
                    url("/assets/img/doctors/doctor-6.jpg");
                }
              }
            }
          }
        }
      }
      &::after {
        display: block;
        position: absolute;
        content: "";
        left: -130px;
        top: -160px;
        width: 212px;
        height: 587px;
        background-image: url("/assets/img/flowers/flower-3.png");
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
      }
    }
  }
}

@media (min-width: $desktopWidth) {
  section.doctors {
    & .container {
      & .tabs {
        min-height: 1135px;
        & .part {
          &:last-child {
            & .person {
              & .content {
                & > * {
                  width: 50%;
                  margin-left: -15%;
                }
                & h3.title {
                  font-size: $fz40;
                }
                & p.subtitle {
                  font-size: $fz6;
                }
                & p.about {
                  font-size: $fz11;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $lgDesktopWidth) {
  section.doctors {
    & .container {
      & .tabs {
        min-height: 850px;
        & .part {
          &:last-child {
            & .person {
              & .content {
                background-position: 50% 20%;
                & > * {
                  width: 50%;
                  margin-left: -20%;
                }
                & h3.title {
                  font-size: $fz40;
                }
                & p.subtitle {
                  font-size: $fz6;
                }
                & p.about {
                  font-size: $fz11;
                }
              }
            }
          }
        }
      }
      &::after {
        left: -50px;
        top: -220px;
      }
    }
  }
}
