footer.footer {
  background-color: $white;
  & .part{
    padding: 0 20px;
    & .container{
      display: flex;
      flex-direction: column;
      background-color: $gray2;
      padding: 30px 20px 35px;
      position: relative;
      z-index: 0;
      overflow: hidden;
      & .block{
        width: 100%;
        margin-bottom: 30px;
        &:nth-child(1) {
          margin-bottom: 45px;
          & .pic{
            text-align: center;
            margin-bottom: 15px;
            & img{
              width: 27%;
            }
            &:last-child{
              margin-bottom: 0;
              & img{
                width: 47%;
              }
            }
          }
        }
        &:nth-last-child(2) {
          & .contacts{
            margin-bottom: 25px;
            text-align: center;
            display: flex;
            flex-direction: column;
            & a{
              font-weight: $bold;
              line-height: 1;
              font-size: $fz8;
              color: $black;
              &:first-child{
                margin-bottom: 10px;
              }
            }
          }
          & p.address{
            text-align: center;
            font-size: $fz6;
            & img{
              margin-right: 5px;
            }
          }
        }
        &:last-child{
          margin-bottom: 0;
          & .button{
            margin-bottom: 20px;
          }
          & .conf{
            text-align: center;
            width: 100%;
            & a{
              border-bottom: 1px solid $black;
              display: inline-block;
              font-size: $fz3;
              transition: .2s;
              &:hover{
                border-bottom: 1px solid transparent;
              }
            }
          }
        }
      }
    }
    &:nth-child(2){
      & .container{
        padding: 0;
      }
    }
    &:nth-last-child(2){
      & .container{
        &::before{
          display: block;
          position: absolute;
          content: '';
          right: -85%;
          bottom: -80%;
          width: 220%;
          height: 170%;
          background-size: contain;
          background-position: 50%;
          background-repeat: no-repeat;
          background-image: url('/assets/img/flowers/flower-6.png');
          z-index: -1;
        }
      }
    }
    &:last-child{
      background-color: $black;
      color: $white;
      font-size: $fz4;
      text-align: center;
      & .container{
        padding: 16px 0;
        background-color: $black;
        & p{
          & a{
            color: $white;
          }
        }
      }
    }
  }
}

@media (min-width: $smDesktopWidth) {
  footer.footer {
    & .part{
      padding: 0 67px;
      &:nth-last-child(2){
        & .container{
          flex-direction: row;
          justify-content: center;
          padding: 80px 20px;
          & .block{
            width: auto;
            margin-bottom: 0;
            margin-right: 80px;
            &:nth-child(1) {
              margin-bottom: 0;
              & .pic{
                margin-bottom: 0px;
                & img{
                  width: 80px;
                }
                &:last-child{
                  margin-bottom: 0;
                  & img{
                    width: 47%;
                  }
                }
              }
            }
            &:nth-child(2){
              & ul.list{
                & li.item{
                  margin-bottom: 12px;
                  line-height: 1;
                  & a{
                    color: $black;
                    text-transform: uppercase;
                    font-size: $fz3;
                    letter-spacing: $ls1;
                    font-weight: $bold;
                    border-bottom: 1px solid transparent;
                    &:hover{
                      border-bottom: 1px solid $black;
                    }
                  }
                  &:last-child{
                    margin-bottom: 0;
                  }
                }
              }
            }
            &:nth-last-child(2) {
              display: flex;
              flex-direction: column;
              & .contacts{
                margin-bottom: 20px;
                text-align: left;
                display: flex;
                flex-direction: column;
                & a{
                  font-weight: $bold;
                  line-height: 1;
                  font-size: $fz8;
                  &:first-child{
                    margin-bottom: 10px;
                  }
                }
              }
              & p.address{
                text-align: left;
                & img{
                  margin-right: 7px;
                }
              }
            }
            &:last-child{
              margin-right: 0;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
            }
          }
          &::before{
            right: auto;
            bottom: auto;
            left: -15%;
            top: -20%;
            width: 80%;
            height: 170%;
            background-position: 0 0;
            background-size: cover;
          }
        }
        & .map{
          & .container{
            padding: 0;
            & #gmap{
              width: 100%;
            }
          }
        }
      }
      &:last-child{
        background-color: $white;
        & .container{
          & p{
            & a{
              color: $white;
            }
          }
        }
      }
    }
  }
}