header.header {
  padding: 10px 0;
  height: 67px;
  width: 100%;

  & .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    a.logo {
      cursor: pointer;
  
      & img{
        display: block;
        max-width: 100px;
      }
    }

    & h3.title{
      font-size: $fz1;
      text-align: center;
      font-weight: $bold;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 768px){
  header.header{
    font-size: $fz5;
    & .container{
      a.logo{
        & img{
          max-width: 180px;
        }
      }
    }
    
  }
}

@media (min-width: 992px) {
  header.header {
    bottom: 0;
    height: 90px;
    width: 100%;

    & .container{
      padding: 0 30px;
      margin: auto;
    }

    &.hidden__md{
      display: none;
    }

    &.visible__md{
      display: flex;
    }

    & li{
      & a{
        &:hover{
          background-color: $red;
        }
      }
    }
  
    a.logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      &.hidden__md{
        display: none;
      }
      & span{
        display: inline-block;
        margin-right: 10px;
      }
  
      &:hover{
        color: $white;
      }
    }
  }

}

@media (min-width: 1200px){
  header.header{
    & .container{
      & li{
        & a{
          padding: 10px 20px;
          &:hover{
            background-color: $red;
          }
        }
      }
    }
  }
}