header.header {
  padding: 10px 0;
  height: 67px;
  width: 100%;
  position: fixed;
  background-color: $white;
  top: 0;
  z-index: 1;
  & .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    a.logo {
      cursor: pointer;
      & img{
        display: block;
        max-width: 100px;
      }
    }

    & h3.title{
      font-size: $fz1;
      text-align: center;
      font-weight: $bold;
      text-transform: uppercase;
      letter-spacing: $ls4;
    }
  }
}

@media (min-width: $smDesktopWidth) {
  header.header {
    padding: 0;
    & .container{
      height: 100%;
    }
  }
}

@media (min-width: $desktopWidth) {
  header.header {
    & .container{
      padding: 0 8%;
    }
  }
}