.map{
  & .container{
    padding: 0;
    border: 2px solid $green;
  }
}

@media (min-width: $smDesktopWidth) {
  .map{
    & .container{
      padding: 0;
      border: 5px solid $green;
    }
  }
}