section.message {
  margin-bottom: 20px;
  & .button {
    width: 100%;
    background-color: $green;
    & a.btn {
      &.show {
        background-image: url("/assets/img/icons/icon-btn-arrow-down.svg");
        background-position: 90% 50%;
      }
    }
  }
  & .container {
    background-image: url("/assets/img/bg/contact-form-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 30px 40px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    display: none;
    &.show {
      display: block;
    }
    & h2.title {
      color: $white;
      &::before {
        background-image: url("/assets/img/icons/icon-title-white.svg");
      }
    }
    &::before {
      display: block;
      position: absolute;
      content: "";
      left: -15%;
      bottom: -15%;
      width: 110%;
      height: 40%;
      background-image: url("/assets/img/flowers/message-leaf-1.png");
      background-size: contain;
      background-position: 0% 100%;
      background-repeat: no-repeat;
    }
    &::after {
      display: block;
      position: absolute;
      content: "";
      right: -25%;
      top: 0%;
      width: 100%;
      height: 35%;
      background-image: url("/assets/img/flowers/message-leaf-2.png");
      background-size: contain;
      background-position: 100% 0%;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

@media (min-width: $tablet) {
  section.message {
    margin-bottom: 20px;
  }
}

@media (min-width: $smDesktopWidth) {
  section.message {
    margin-bottom: 65px;
    & .button {
      display: none;
    }
    & .container {
      display: flex;
      flex-direction: row;
      padding: 85px 10% 65px;
      & h2.title {
        margin-bottom: 0;
        padding: 0 10px 0 0;
        font-size: $fz10;
        font-weight: $medium;
        text-align: left;
        width: 45%;
        &::before {
          display: none;
        }
      }
      &::before {
        left: -10%;
        bottom: -8%;
        width: 50%;
        height: 70%;
        background-position: 100% 0%;
        background-size: cover;
      }
      &::after {
        right: -2%;
        top: 0%;
        width: 20%;
        height: 100%;
        background-position: 0 50%;
      }
    }
  }
}

@media (min-width: $desktopWidth) {
  section.message {
    & .container {
      padding: 85px 15% 65px;
      & h2.title {
        font-size: $fz12;
        padding: 0 70px 0 0;
      }
    }
  }
}
