.service__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .part {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("/assets/img/bg/main-bg.jpg");
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    &:last-child {
      height: 300px;
      background-image: url("/assets/img/services/service-1.jpg");
      padding: 0;
      & .inner {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: relative;
        &::after {
          display: block;
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          right: 20px;
          margin: auto;
          width: 48%;
          height: 90%;
          background-image: url("/assets/img/services/decor-main.svg");
          background-size: auto 100%;
          background-position: 100% 50%;
          background-repeat: no-repeat;
        }
        &::before {
          display: block;
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          left: 20px;
          margin: auto;
          width: 48%;
          height: 90%;
          background-image: url("/assets/img/services/decor-main.svg");
          background-size: auto 100%;
          background-position: 100% 50%;
          background-repeat: no-repeat;
          transform: rotateY(180deg);
        }
      }
    }
    & h1.title {
      margin-bottom: 30px;
      font-size: $fz12;
      color: $green;
    }
    & p.subtitle {
      font-size: $fz6;
    }
    & ul.list {
      padding-left: 25px;
      & li.item {
        margin-bottom: 20px;
        & p {
          letter-spacing: $ls1;
          text-transform: uppercase;
          font-size: $fz4;
          position: relative;
          &:before {
            display: block;
            position: absolute;
            content: "";
            left: -20px;
            top: 5px;
            width: 7px;
            height: 7px;
            background-image: url("/assets/img/icons/icon-title-black.svg");
            background-size: contain;
            background-position: 50%;
            background-repeat: no-repeat;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &.after--birth {
    & .part {
      &:last-child {
        background-image: url("/assets/img/services/service-2.jpg");
      }
    }
  }
  &.after--operation {
    & .part {
      &:last-child {
        background-image: url("/assets/img/services/service-3.jpg");
      }
    }
  }
  &.service-4 {
    & .part {
      &:last-child {
        background-image: url("/assets/img/services/service-4.jpg");
      }
      p.subtitle {
        margin-bottom: 35px;
      }
    }
  }
  &.service-5 {
    & .part {
      p.title {
        font-weight: $bold;
        letter-spacing: $ls1;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 20px;
      }
      &:last-child {
        background-image: url("/assets/img/services/service-5.jpg");
      }
      p.subtitle {
        margin-bottom: 35px;
      }
    }
  }
  &.service-6 {
    & .part {
      &:last-child {
        background-image: url("/assets/img/services/service-6.jpg");
      }
    }
  }
  &.service-7 {
    & .part {
      &:last-child {
        background-image: url("/assets/img/services/service-7.jpg");
      }
    }
  }
  &.service-8 {
    & .part {
      &:last-child {
        background-image: url("/assets/img/services/service-8.jpg");
      }
    }
  }
  &.service-9 {
    & .part {
      &:last-child {
        background-image: url("/assets/img/services/service-9.jpg");
      }
    }
  }
  &.service-10 {
    & .part {
      &:last-child {
        background-image: url("/assets/img/services/service-10.jpg");
      }
    }
  }
  &.service-11 {
    & .part {
      &:last-child {
        background-image: url("/assets/img/services/service-11.jpg");
      }
    }
  }
  &.hire {
    & .part {
      &:last-child {
        background-image: url("/assets/img/hire.jpg");
      }
      p.title {
        font-weight: $bold;
        letter-spacing: $ls1;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 20px;
        width: 100%;
        font-size: $fz6;
      }
    }
  }
}
section.service__description {
  padding: 20px;
  font-size: 10px;
  background-size: auto 45%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("/assets/img/flowers/flower-service.png");
  & .container {
    padding: 0;
    max-width: 1000px;
    & h2.title {
      font-size: $fz7;
      text-transform: inherit;
      letter-spacing: inherit;
      font-weight: $medium;
      &.special {
        margin-bottom: 30px;
      }
    }
    & p.subtitle {
      font-size: $fz5;
      margin-bottom: 40px;
      text-align: center;
    }
    & .content {
      display: flex;
      flex-direction: column;
      background-color: transparent;
      margin-bottom: 40px;
      & .part {
        padding-left: 20px;
        & h3.title {
          font-size: $fz6;
          font-weight: $bold;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        & p {
          font-size: $fz4;
          position: relative;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:first-child,
        &.special {
          & p {
            letter-spacing: $ls1;
            text-transform: uppercase;
            &::before {
              display: block;
              position: absolute;
              content: "";
              left: -20px;
              top: 5px;
              width: 7px;
              height: 7px;
              background-image: url("/assets/img/icons/icon-title-black.svg");
              background-size: contain;
              background-position: 50%;
              background-repeat: no-repeat;
            }
          }
          & ul.list {
            & li.item {
              margin-bottom: 10px;
              & p {
                font-size: $fz2;
                letter-spacing: $ls1;
              }
            }
          }
        }
        &:last-child {
          margin-top: 20px;
          & p {
            font-size: $fz6;
          }
        }
      }
      &.special {
        margin-bottom: 30px;
      }
    }
    & .button {
      & a.btn {
        background-position: 94% 50%;
        &:hover {
          background-position: 95% 50%;
        }
      }
    }
  }
  &.after--operation {
    background-image: none;
    & .container {
      & .content {
        & .part {
          padding-left: 0;
          &:first-child {
            & p {
              letter-spacing: inherit;
              text-transform: inherit;
              font-size: $fz6;
              &::before {
                display: none;
              }
            }
          }
          & ul {
            & li {
              letter-spacing: $ls2;
              padding-left: 15px;
              margin-bottom: 10px;
              font-size: $fz4;
              position: relative;
              &::before {
                display: block;
                position: absolute;
                content: "";
                left: 0px;
                top: 5px;
                width: 7px;
                height: 7px;
                background-image: url("/assets/img/icons/icon-title-black.svg");
                background-size: contain;
                background-position: 50%;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
  }
  &.service-5 {
    & .container .content .part {
      padding-left: 0;
      &:first-child p {
        text-transform: inherit;
        letter-spacing: inherit;
        &::before {
          display: none;
        }
      }
    }
  }
  &.service-6 {
    & .container .content .part {
      padding-left: 0;
      width: 100%;
      &:first-child p {
        text-transform: inherit;
        letter-spacing: inherit;
        &::before {
          display: none;
        }
      }
      & p.note {
        text-align: center;
        font-weight: $bold;
        padding: 50px 0;
        position: relative;
        font-size: $fz4;
        &::before {
          display: block;
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          right: 0;
          margin: auto;
          width: 150px;
          height: 18px;
          background-size: contain;
          background-position: 50% 0%;
          background-repeat: no-repeat;
          background-image: url("/assets/img/icons/icon-title.svg");
        }
        &::after {
          display: block;
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          width: 150px;
          height: 18px;
          background-size: contain;
          background-position: 50% 100%;
          background-repeat: no-repeat;
          background-image: url("/assets/img/icons/icon-title.svg");
          transform: rotateX(180deg);
        }
      }
    }
  }
  &.service-7 {
    background-size: auto 50%;
    background-position: 50% 50%;
    background-image: url("/assets/img/flowers/flower-service-full.png");
    & .container {
      & .content {
        & p {
          font-size: $fz5;
        }
        & h3.title {
          font-size: $fz8;
          text-align: center;
          margin-bottom: 40px;
        }
        & .row {
          margin-bottom: 40px;
          & .part {
            & ul.list {
              & li.item {
                text-transform: uppercase;
                position: relative;
                font-size: $fz4;
                margin-bottom: 10px;
                letter-spacing: $ls1;
                &::before {
                  display: block;
                  position: absolute;
                  content: "";
                  left: -20px;
                  top: 5px;
                  width: 7px;
                  height: 7px;
                  background-image: url(/assets/img/icons/icon-title-black.svg);
                  background-size: contain;
                  background-position: 50%;
                  background-repeat: no-repeat;
                }
              }
            }
            & p {
              font-size: $fz5;
              letter-spacing: normal;
              text-transform: inherit;
              &.big {
                font-size: $fz8;
              }
              &::before {
                display: none;
              }
            }
            &:last-child {
              margin-top: 20px;
            }
            &.less {
              padding-left: 0;
            }
          }
          &:nth-of-type(2) {
            margin-top: 40px;
          }
        }
        & p.note {
          text-align: center;
          font-weight: $bold;
          padding: 50px 0;
          position: relative;
          margin-bottom: 40px;
          font-size: $fz4;
          &::before {
            display: block;
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            right: 0;
            margin: auto;
            width: 150px;
            height: 18px;
            background-size: contain;
            background-position: 50% 0%;
            background-repeat: no-repeat;
            background-image: url("/assets/img/icons/icon-title.svg");
          }
          &::after {
            display: block;
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 150px;
            height: 18px;
            background-size: contain;
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-image: url("/assets/img/icons/icon-title.svg");
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
  &.service-8 {
    & .container {
      & .content {
        flex-direction: column;
        margin-bottom: 0;
        & ul.list {
          padding-left: 25px;
          margin-bottom: 30px;
          & li.item {
            margin-bottom: 20px;
            & p {
              letter-spacing: 0.15em;
              text-transform: uppercase;
              position: relative;
              font-size: $fz3;

              &::before {
                display: block;
                position: absolute;
                content: "";
                left: -20px;
                top: 5px;
                width: 7px;
                height: 7px;
                background-image: url("/assets/img/icons/icon-title-black.svg");
                background-size: contain;
                background-position: 50%;
                background-repeat: no-repeat;
              }
            }
            & span {
              margin-top: 10px;
              display: inline-block;
              font-size: $fz4;
            }
          }
        }
        & .row {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-bottom: 40px;
          & .part {
            padding-left: 0;
            & p {
              font-size: $fz4;
              text-transform: inherit;
              letter-spacing: inherit;
              &::before {
                display: none;
              }
            }
            &:last-child {
              margin-top: 20px;
            }
          }
        }
        & > p {
          text-align: center;
          font-size: $fz6;
          margin-bottom: 20px;
          & span {
            color: $green;
            font-weight: $bold;
          }
        }
      }
    }
  }
  &.service-9 {
    & .container {
      & .content {
        display: flex;
        flex-direction: column;
        & .part {
          &:nth-child(2) {
            order: 1;
            padding-left: 0;
            & p.note {
              text-align: center;
              padding: 50px 0;
              position: relative;
              margin-bottom: 30px;
              font-size: $fz6;
              &::before {
                display: block;
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                right: 0;
                margin: auto;
                width: 150px;
                height: 18px;
                background-size: contain;
                background-position: 50% 0%;
                background-repeat: no-repeat;
                background-image: url("/assets/img/icons/icon-title.svg");
              }
              &::after {
                display: block;
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                width: 150px;
                height: 18px;
                background-size: contain;
                background-position: 50% 100%;
                background-repeat: no-repeat;
                background-image: url("/assets/img/icons/icon-title.svg");
                transform: rotateX(180deg);
              }
            }
          }
          &:nth-child(1) {
            order: 2;
            & > p {
              font-weight: $bold;
              letter-spacing: inherit;
              text-transform: inherit;
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &.service-10 {
    & .container {
      & .content {
        flex-direction: column;
        align-items: center;
        & ul.list {
          max-width: 400px;
          padding-left: 20px;
          margin-bottom: 40px;
          & li.item {
            letter-spacing: 0.15em;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 20px;
            &::before {
              display: block;
              position: absolute;
              content: "";
              left: -20px;
              top: 5px;
              width: 7px;
              height: 7px;
              background-image: url("/assets/img/icons/icon-title-black.svg");
              background-size: contain;
              background-position: 50%;
              background-repeat: no-repeat;
            }
            & p {
              font-size: $fz4;
            }
          }
        }
        & .row {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          & .part {
            padding-left: 0;
            & .inner {
              margin-bottom: 40px;
              & h2.title {
                font-weight: $bold;
                text-align: left;
                padding-top: 0;
                margin-bottom: 20px;
                &::before {
                  display: none;
                }
              }
              & p {
                letter-spacing: inherit;
                text-transform: inherit;
                font-size: $fz4;
                &::before {
                  display: none;
                }
              }
            }
            &:last-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  &.service-11 {
    & .content {
      & .part {
        padding-left: 0;
        & ul.list {
          margin-bottom: 40px;
          padding-left: 20px;
          & li.item {
            letter-spacing: $ls1;
            position: relative;
            margin-bottom: 10px;
            &::before {
              display: block;
              position: absolute;
              content: "";
              left: -20px;
              top: 5px;
              width: 7px;
              height: 7px;
              background-image: url("/assets/img/icons/icon-title-black.svg");
              background-size: contain;
              background-position: 50%;
              background-repeat: no-repeat;
            }
            & p {
              font-size: $fz4;
            }
          }
        }
        &:first-child {
          & p {
            letter-spacing: normal;
            text-transform: uppercase;
            &::before {
              display: none;
            }
            &.spec {
              text-transform: inherit;
            }
          }
        }
        &:last-child {
          & ul.list {
            & li.item {
              & p {
                text-transform: uppercase;
              }
            }
          }
          & p {
            font-size: $fz4;
          }
        }
      }
    }
  }
  &.hire {
    background-image: none;
    & .container {
      max-width: 1000px;
      & .content {
        flex-direction: column;
        & ul.list {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 60px;
          & li.item {
            border: 1px solid $green;
            font-weight: $bold;
            text-transform: uppercase;
            padding: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            font-size: $fz4;
          }
        }
        & .detail {
          text-align: center;
          & p {
            font-weight: $bold;
            font-size: $fz10;
            margin-bottom: 15px;
          }
          & a {
            font-weight: $bold;
            margin-bottom: 60px;
            border-bottom: 1px solid transparent;
            display: inline-block;
            font-size: $fz11;
            color: $green;
            transition: 0.2s;
            &:hover {
              border-bottom: 1px solid $orange;
              color: $orange;
            }
          }
          &:last-of-type {
            & a {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .service__main {
    font-size: 10px;
    flex-direction: row;
    align-items: stretch;
    & .part {
      order: 2;
      width: 50%;
      height: 600px;
      align-items: center;
      &:last-child {
        order: 1;
        height: auto;
        & .inner {
          &::after {
            right: 35px;
          }
          &::before {
            left: 35px;
          }
        }
      }
      & h1.title,
      p.subtitle {
        width: 100%;
      }
      & h1.title {
        font-size: $fz14;
      }
      p.subtitle {
        font-size: $fz7;
      }
    }

    &.after--operation,
    &.service-9 {
      & .part {
        order: 1;
      }
    }
  }
  section.service__description {
    padding: 55px 20px 75px;
    & .container {
      & h2.title {
        margin-bottom: 60px;
        font-size: $fz14;
      }
      & p.subtitle {
        font-size: $fz8;
      }
      & .content {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 60px;
        & .part {
          width: 48%;
          padding-left: 25px;
          & p {
            font-size: $fz6;
            margin-bottom: 30px;
          }

          &:last-child {
            padding-left: 0;
            margin-top: 0;
            & p {
              font-size: $fz8;
            }
          }
        }
      }
    }
    &.after--operation {
      & .container {
        & .content {
          & .part {
            &:first-child {
              & p {
                font-size: $fz8;
              }
            }
            & ul {
              margin-top: -10px;
              & li {
                font-size: $fz6;
              }
            }
          }
        }
      }
    }
    &.service-6 {
      & .container .content .part {
        & p.note {
          font-size: $fz8;
        }
      }
    }
    &.service-7 {
      & .container {
        & .content {
          flex-direction: column;
          & p {
            font-size: $fz8;
          }
          & h3.title {
            font-size: $fz14;
          }
          & .row {
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            & .part {
              & ul.list {
                & li.item {
                  text-transform: uppercase;
                  position: relative;
                  font-size: $fz6;
                  margin-bottom: 20px;
                  letter-spacing: $ls1;
                }
              }
              & p {
                font-size: $fz8;
                letter-spacing: normal;
                text-transform: inherit;
                &.big {
                  font-size: $fz14;
                }
                &::before {
                  display: none;
                }
              }
              &:last-child {
                margin-top: 0px;
                padding-left: 25px;
              }
              &.less {
                padding-left: 0;
              }
            }
            &:nth-of-type(2) {
              margin: 80px 0;
            }
          }
          & p.note {
            font-size: $fz8;
          }
        }
      }
    }
    &.service-8 {
      & .container {
        & .content {
          & ul.list {
            & li.item {
              & p {
                font-size: $fz6;
              }
              & span {
                font-size: $fz6;
              }
            }
          }
          & .row {
            flex-direction: row;
            justify-content: space-between;

            & .part {
              padding-left: 0;
              width: 48%;
              & p {
                font-size: $fz8;
                margin-bottom: 20px;
              }

              &:last-child {
                margin-top: 0;
              }
            }
          }
          & > p {
            font-size: $fz8;
          }
        }
      }
    }
    &.service-9 {
      background-image: none;
      & .container {
        & .content {
          justify-content: space-between;
          flex-direction: row;
          align-items: center;

          & .part {
            &:nth-child(1) {
              order: 1;
              & > p {
                font-size: $fz8;
              }
              & ul.list {
                & li.item {
                  & p {
                    font-size: $fz6;
                  }
                }
              }
            }
            &:nth-child(2) {
              order: 2;
              & p.note {
                font-size: $fz14;
              }
            }
          }
        }
      }
    }
    &.service-10 {
      & .container {
        & .content {
          & ul.list {
            & li.item {
              & p {
                font-size: $fz6;
              }
            }
          }
          & .row {
            flex-direction: row;
            & .part {
              & .inner {
                & p {
                  font-size: $fz6;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }

    &.hire {
      & .container {
        & .content {
          & ul.list {
            justify-content: space-between;
            & li.item {
              border: 1px solid $green;
              font-weight: $bold;
              text-transform: uppercase;
              padding: 10px;
              margin-right: 0px;
              margin-bottom: 0px;
              font-size: $fz6;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $smDesktopWidth) {
  .service__main {
    & .part {
      height: 600px;
      &:last-child {
        order: 1;
      }
      & h1.title,
      p.subtitle {
        width: 70%;
      }
      & ul.list {
        & li.item {
          & p {
            font-size: $fz6;
          }
        }
      }
    }
    &.service-5 {
      & .part {
        p.title {
          width: 70%;
          font-size: $fz6;
        }
        & ul.list {
          width: 70%;
        }
      }
    }
    &.hire {
      & .part {
        &:last-child {
          background-image: url("/assets/img/hire.jpg");
        }
        & h1.title {
          width: 70%;
        }
        & p.title {
          width: 70%;
        }
        & ul.list {
          width: 70%;
        }
      }
    }
  }
  section.service__description {
    padding: 55px 15% 75px;
    &.hire {
      padding: 55px 8% 75px;
      & .container {
        & .content {
          & ul.list {
            & li.item {
              padding: 20px;
            }
          }
        }
      }
    }
    & .container {
      & .content {
        & .part {
          &:first-child {
            & ul.list {
              & li.item {
                margin-bottom: 20px;
              }
            }
          }
          &:first-child,
          &.special {
            & ul.list {
              & li.item {
                margin-bottom: 20px;
                & p {
                  font-size: $fz6;
                }
              }
            }
          }
        }
      }
    }
    &.service-11 {
      & .content {
        & .part {
          & ul.list {
            & li.item {
              letter-spacing: $ls1;
              position: relative;
              margin-bottom: 10px;
              &::before {
                display: block;
                position: absolute;
                content: "";
                left: -20px;
                top: 5px;
                width: 7px;
                height: 7px;
                background-image: url("/assets/img/icons/icon-title-black.svg");
                background-size: contain;
                background-position: 50%;
                background-repeat: no-repeat;
              }
              & p {
                font-size: $fz4;
              }
            }
          }
          &:last-child {
            & ul.list {
              & li.item {
                & p {
                  font-size: $fz6;
                  text-transform: uppercase;
                }
              }
              & p {
                font-size: $fz6;
              }
            }
          }
        }
      }
    }
  }
}
