main.service__main{
  display: flex;
  flex-direction: column;
  align-items: center;
  & .part{
    width: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url('/assets/img/bg/main-bg.jpg');
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    &:last-child{
      height: 300px;
      background-image: url('/assets/img/services/service-1.jpg');
      padding: 0;
      & .inner{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        position: relative;
        &::after{
          display: block;
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          right: 20px;
          margin: auto;
          width: 70%;
          height: 90%;
          background-image: url('/assets/img/services/decor-main.svg');
          background-size: auto 100%;
          background-position: 100% 50%;
          background-repeat: no-repeat;
        }
        &::before{
          display: block;
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          left: 20px;
          margin: auto;
          width: 70%;
          height: 90%;
          background-image: url('/assets/img/services/decor-main.svg');
          background-size: auto 100%;
          background-position: 100% 50%;
          background-repeat: no-repeat;
          transform: rotateY(180deg);
        }
      }
    }
    & h1.title{
      margin-bottom: 30px;
      font-size: $fz12;
      color: $green;
    }
    p.subtitle{
      font-size: $fz6;
    }
  }
  
}
section.service__description{
  padding: 50px 20px;
  font-size: 10px;
  background-size: auto 70%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url('/assets/img/flowers/flower-service.png');
  & .container{
    padding: 0;
    & h2.title{
      font-size: $fz7;
      text-transform: inherit;
      letter-spacing: inherit;
      font-weight: $medium;
    }
    & .content{
      display: flex;
      flex-direction: column;
      background-color: transparent;
      margin-bottom: 40px;
      & .part{
        padding-left: 20px;
        & p{
          font-size: $fz4;
          position: relative;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        &:first-child {
          & p{
            letter-spacing: $ls1;
            text-transform: uppercase;
            &::before{
              display: block;
              position: absolute;
              content: '';
              left: -20px;
              top: 5px;
              width: 7px;
              height: 7px;
              background-image: url('/assets/img/icons/icon-title-black.svg');
              background-size: contain;
              background-position: 50%;
              background-repeat: no-repeat;
            }
          }
        }
        &:last-child{
          margin-top: 40px;
          & p{
            font-size: $fz6;
          }
        }
      }
    }
    & .button{
      & a.btn{
        background-position: 94% 50%;
        &:hover{
          background-position: 95% 50%;
        }
      }
    }
  }
}

@media (min-width: $tablet){
  main.service__main{
    font-size: 10px;
    flex-direction: row;
    align-items: stretch;
    & .part{
      order: 2;
      width: 50%;
      height: 600px;
      align-items: center;
      &:last-child{
        order: 1;
        height: auto;
        & .inner{
          &::after{
            right: 35px;
          }
          &::before{
            left: 35px;
          }
        }
      }
      & h1.title,
      p.subtitle {
        width: 70%;
      }
      & h1.title{
        font-size: $fz14;
      }
      p.subtitle{
        font-size: $fz8;
      }
    }
  }
  section.service__description{
    padding: 55px 20px 75px;
    & .container{
      & h2.title{
        margin-bottom: 60px;
        font-size: $fz14;
      }
      & .content{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 60px;
        & .part{
          width: 48%;
          padding-left: 25px;
          & p{
            font-size: $fz6;
            margin-bottom: 40px;
          }
          &:last-child{
            padding-left: 0;
            margin-top: 0;
            & p{
              font-size: $fz8;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $smDesktopWidth) {
  main.service__main{
    & .part{
      height: 600px;
      &:last-child{
        order: 1;
      }
    }
  }
  section.service__description{
    padding: 55px 15% 75px;
  }
}