ul.socials{
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  align-items: center;
  & li.item{
    & a{
      width: 32px;
      height: 32px;
      text-align: center;
      background-color: $orange;
      border-radius: 50%;
      display: block;
      font-size: 0;
      background-size: 50% 50%;
      background-position: 50%;
      background-repeat: no-repeat;
      background-color: $vk;
      background-image: url('/assets/img/icons/socials/icon-vk.svg');
      & img{
        max-width: 45%;
      }
    }
    &:nth-child(2){
      & a{
        background-image: url('/assets/img/icons/socials/icon-fb.svg');
        background-color: $fb;
      }
    }
    &:nth-child(3){
      & a{
        background: 50% 50% no-repeat url('/assets/img/icons/socials/icon-insta.svg'), radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        
      }
    }
    &:nth-child(4){
      & a{
        background-image: url('/assets/img/icons/socials/icon-whatsup.svg');
        background-color: $whatsup;
      }
    }
  }
}