@font-face {
  font-family: "slick";
  src: url("/assets/fonts/slick/slick.eot");
  src: url("/assets/fonts/slick/slick.woff") format("woff"),
    url("/assets/fonts/slick/slick.ttf") format("truetype"),
    url('/assets/fonts/slick/slick.svg') format('svg'); 
}