// Font
$mainFont: 'PT Sans', sans-serif;
$altFont: 'Cormorant Garamond', sans-serif;
$slickFont: "slick", serif;

// Size
$fz1: 10px;
$fz2: 11px;
$fz3: 12px;
$fz4: 13px;
$fz5: 15px;
$fz6: 16px;
$fz7: 17px;
$fz8: 18px;
$fz9: 20px;
$fz10: 22px;
$fz11: 24px;
$fz12: 30px;
$fz13: 32px;
$fz14: 35px;
$fz40: 40px;
$fz44: 44px;

$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

$ls1: 0.15em;
$ls2: 0.08em;
$ls3: 0.1em;

$mainLineHeight: 1.2;
$lineHeight2: 1.1;
$lineHeight3: 1.7;
$lineHeight4: 1.4;

$desktopWidth: 1200px;
$smDesktopWidth: 992px;
$tablet: 768px;
$smPhoneWidth: 320px;

// Main color
$white: #fff;
$black: #000;
$midBlue: #0062D9;
$blue: #00C2FF;
$darkBlue: #283C80;
$red: #FF0039;
$yellow: #FCD000;
$gray: #9F9F9F;
$gray2: #f7f7f7;
$gray3: #535353;
$warningColor: #535353;
$orange: #F27D02;
$green: #378940;
$lightGreen: #D7E7D9;
$dark: #141414;

$borderColor: #ddd;
$headerColor: #201E21;
$textColor: #585858;
$stage: #BB9775;

