extends ../layout/main

block content
  main.about__main
    .part
      .outer
        .content
          .backgroundchange
            .backgroundimg
            .backgroundimg
            .backgroundimg
          h1
            | Клиника
            span.hidden лекарь
            img(src="./assets/img/logo-title-white.svg", alt="img")
    .part
      ul.list
        li.item
          p 
            | Опытные 
            br
            | специалисты
        li.item
          p 
            | Комплексный подход 
            br
            | к&nbsp;оздоровлению
        li.item
          p 
            | Широкий спектр 
            br
            | услуг по оптимальной цене
        li.item
          p 
            | Новое комфортное 
            br
            | современное пространство
  section.about__content
    .part
      .container
        h2.title О клинике
        .text
          .item
            p 
              | Клиника остеопатии и&nbsp;восстановительного лечения «Лекарь» находится в&nbsp;центре Санкт&#8209;Петербурга. 
              | У&nbsp;нас принимают только сертифицированные специалисты. 
              | Все остеопаты в&nbsp;нашей клинике имеют высшее медицинское образование и&nbsp;остеопатическую профессиональную переподготовку.
            p 
              | Остеопатия&nbsp;—&nbsp;это современная, но не молодая наука о&nbsp;восстановлении здоровья. 
              | Лечение основано на знаниях анатомии, физиологии и&nbsp;биомеханики всех систем и&nbsp;тканей организма. 
              | Главное отличие остеопатии от&nbsp;многих других медицинских специальностей в&nbsp;том, 
              | что она рассматривает организм в&nbsp;целом, а не&nbsp;фокусируется на&nbsp;каком&#8209;то одном органе или симптоме.
          .item
            p 
              | Терапевтический эффект остеопатии основан прежде всего на способности организма к&nbsp;самовосстановлению, 
              | а&nbsp;врач только помогает наладить этот процесс. 
              | Главный рабочий инструмент врача при диагностике и лечении&nbsp;–&nbsp;руки. 
              | Остеопат может обнаружить проблему в самом начале, и тем самым предупредить развитие недуга, 
              | или бережно избавить пациента от многих хронических заболеваний, 
              | дисфункций костно-мышечной и&nbsp;нервной системы, внутренних органов.
            p 
              | Остеопатическое лечение не имеет возрастных ограничений. 
              | Оно показано как новорожденным, так и&nbsp;людям старшей возрастной группы. 
              | Наши врачи владеют большим количеством мягких и&nbsp;безопасных методик лечения, 
              | которые подбираются индивидуально и&nbsp;отличаются от приема к&nbsp;приёму.
    .part
      h2.title Наши услуги
      .icons
        .container
          .list
            a.item(href="")
              .pic
              p 
                | Остеопатия 
                br
                | для взрослых
            a.item(href="")
              .pic
              p 
                | Остеопатия 
                br
                | для беременных
            a.item(href="")
              .pic
              p 
                | Остеопатия 
                br
                | для детей
            a.item(href="")
              .pic
              p 
                | Семейная 
                br
                | остеопатия
            a.item(href="/service-2.html")
              .pic
              p 
                | Восстановление 
                br
                | после родов 
                br
                | и операций
            a.item(href="")
              .pic
              p 
                | Реабилитация 
                br
                | после травм
            a.item(href="")
              .pic
              p 
                | Забота о здоровье 
                br
                | офисных сотрудников
            a.item(href="")
              .pic
              p 
                | Лечебная 
                br
                | физкультура
            a.item(href="")
              .pic
              p 
                | Лечебный 
                br
                | Массаж