extends ../layout/main

block content
  main.appointment
    .container
      h1.title Запись на прием
      include ../includes/module/timetable
      .panel.panel-success
        .panel-heading
          b Записаться на приём.
        .panel-body
          ul
            li 
              | Для оформления предварительной записи, выберите интересующий вас 
              b день
              | (жёлтого или зелёного цвета).
            li 
              | В открывшейся форме записи введите свои 
              b ФИО
              | и
              b телефон
            li 
              | Выберите 
              b время приёма
            li Дождитесь когда администратор медцентра свяжется с вами, чтобы подтвердить запись.
      .panel.alert-danger
        .panel-heading
          b Напоминаем: 
          | пока Вашу запись не подтвердил администратор, она носит предварительный характер.