extends ../layout/gray

block content
  .content.confidential
    h1.title Политика конфиденциальности
    p 
      | Данная Политика конфиденциальности определяет порядок сбора, хранения, применения, 
      | раскрытия и передачи информации, которую клиника «Лекарь» (далее Компания) получает 
      | от пользователей и клиентов ресурса (далее Пользователь) 
      a(href="https://lekarspb.ru/") lekarspb.ru 
      |  (далее — Сайт). 
      | Представленная Политика конфиденциальности распространяется на все сопутствующие ресурсы, 
      | поддомены, продукты, сервисы и услуги Компании.
    p
      b Общие положения
    p 
      | Использование Пользователем Сайта означает согласие с настоящей Политикой конфиденциальности 
      | и условиями обработки персональных данных Пользователя. 
      | В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить 
      | использование Сайта.
    p 
      | Представленная Политика конфиденциальности касается только настоящего Сайта и информационные данные, 
      | которые добровольно предоставляют Пользователи. Ее действие не распространяется на сторонние ресурсы, 
      | в том числе, те, на которых упоминается Сайт или на которых содержатся прямые ссылки на Сайт. 
      | Компания не проверяет достоверность персональных данных, предоставляемых Пользователем.
    p
      b Персональная информация Пользователей, которую обрабатывает Компания
    p 
      | При посещении Сайта автоматически определяется Ваш IP адрес, имя домена, страну регистрации IP. 
      | Также нами фиксируется факты перехода по страницам Сайта, прочую информацию, которую Ваш браузер 
      | предоставляет открыто и добровольно. Данные сведения помогают существенно упростить пользование 
      | Сайтом, сделать поиск нужных или интересных для Вас материалов намного быстрее и комфортнее.
    p 
      | На Сайте реализована стандартная технология персональной настройки стилей отображения страниц 
      | и размещенного на них контента под параметры конкретно Вашего монитора «cookies». 
      | «Куки» — это сохраняющиеся на жестком диске данные о посещаемых веб-сайтах, 
      | пользовательских настройках, персональных настройках режима просмотра контента. 
      | Реализованная на Сайте технология «cookies» предоставляет информацию о том, 
      | с какого стороннего ресурса был выполнен переход на Сайт, имени домена Вашего провайдера, 
      | страны посетителя, данные о загруженных материалах с Сайта. Данная технология используется и 
      | браузерными счетчиками компаний Yandex, Rambler, Google.
    p 
      | «Сookies» не собирает личной или конфиденциальной информации о пользователе, 
      | данную технологию можно заблокировать при персональной работе с Сайтом, 
      | используя настройки Вашего браузера или поставить обязательное уведомление о посылке «куки».
    p 
      | На Сайте реализована стандартная технология подсчета количества посетителей и просмотров страниц, оценки технических возможностей хост-серверов, рейтингов, посещаемости сторонних организаций. Данная информация позволяет нам вести учет активности посетителей, актуальности представленного контента, его востребованности, составлять характеристику посещаемой аудитории. Также подобный сбор данных помогает нам располагать страницы и материал наиболее удобным для пользователей образом, обеспечивать эффективное взаимодействие и безупречную работу с браузерами посетителей.
    p 
      | Мы фиксируем информацию о перемещениях по Сайту, просматриваемых страницах в общем, а не персональном порядке. Никакие личные или индивидуальные данные без разрешения пользователей Компания не будет использована или передана третьим лицам.
    p 
      | Любая персональная информация, 
      | в том числе идентификационная, предоставляется пользователями Сайта исключительно добровольно. 
      | Все данные, которые Вы оставляете на Сайте собственноручно при регистрации, 
      | в ходе оформления заказа, заполнения форм (ФИО, адрес электронной почты, контактный телефон, 
      | данные кредитной карты, банковских счетов) сохраняются в тайне и не разглашаются. 
      | Каждый посетитель Сайта вправе отказаться от предоставления любой персональной информации 
      | и посещать ресурс на условиях абсолютной анонимности, кроме случаев, когда данные действия 
      | могут помешать корректному пользованию отдельными функциями или возможностями Сайта.
    p
      b Цели обработки персональной информации Пользователей
    p 
      | Компания собранная информация о личных данных посетителей Сайта может быть применена 
      | для следующих целей:
    p 
      | Связь с Пользователем, в том числе направление уведомлений, запросов и информации, 
      | касающихся использования Сайта, работы Компании, исполнения соглашений и договоров Компании, 
      | а также обработка запросов и заявок от Пользователя;
    p 
      | Улучшение качества обслуживания клиентов и пользователей. 
      | Предоставляемые Вами данные помогают намного эффективнее реагировать на запросы или 
      | обращения посетителей, клиентов;
    p 
      | Персонализация пользовательского опыта. Информация применяется для составления «портрета» 
      | пользователя, определения интересующего Вас контента, актуальных для Вас услуг и сервисов, 
      | предоставляемых на Сайте;
    p 
      | Обработка заказов и платежей. Предоставленная информация применяется для оформления заказа, 
      | контроля поступления оплаты за него. Любая финансовая или персональная информация о наших 
      | Пользователях не передается третьим лицам и сохраняется в тайне.
    p
      b Меры, применяемые для защиты персональной информации Пользователя
    p 
      | Компания принимает необходимые и достаточные организационные и технические меры для защиты 
      | персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, 
      | изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
    p
      b Изменение Политики конфиденциальности. Применимое законодательство
    p 
      | Компания оставляет за собой право менять или корректировать правила и условия 
      | Политики конфиденциальности. В случае внесения каких-либо поправок или нововведений в настоящую 
      | Политику, указывается дата последнего обновления. Используя данный Сайт, Вы соглашаетесь с 
      | вышеописанными правилами и условиями, а также берете на себя ответственность за периодическое 
      | ознакомление с нововведениями и изменениями в Политике конфиденциальности.
    p
      b Отказ от ответственности
    p 
      | Сайт не берет на себя ответственность за действия других сайтов и ресурсов, 
      | третьих лиц и сторонних посетителей.
    p
      b Обратная связь
    p 
      | Все предложения или вопросы относительно Политики конфиденциальности 
      | Сайта Компании Пользователь вправе сообщать по нижеуказанным контактам:
    p
      a(href="https://lekarspb.ru") lekarspb.ru
    p Дата публикации: 01.11.2019