extends ../layout/main

block content
  main.doctor__main
    .container
      .part
        h1.title 
          | Альтмарк 
          br
          | Екатерина Михайловна
        p.subtitle 
          | Врач-остеопат, 
          br
          | кандидат медицинских наук
      .part
  section.biography
    .container
      h2.title Биография
      ul.list
        li.item
          .part
            span 2003 г.
          .part
            p Закончила Первый медицинский университет им И.П. Павлова по специальности «лечебное дело»
        li.item
          .part
            span 2003-2004 гг.
          .part
            p Интернатура по хирургии
        li.item
          .part
            span 2004-2006 гг.
          .part
            p Ординатура по хирургии на базе первого медицинский университет им И.П. Павлова
        li.item
          .part
            span 2007 г.
          .part
            p Защитила кандидатскую диссертацию, присвоена ученая степень кандидата медицинских наук
        li.item
          .part
            span 2006-2014 гг.
          .part
            p Работала врачом- хирургом в Елизаветинской больнице
        li.item
          .part
            span 20014-2017 гг.
          .part
            p Ассистент кафедры факультетской хирургии медицинского университета им. И.П. Павлова
        li.item
          .part
            span 2003-2004 гг.
          .part
            p Обучение в Институте остеопатической медицины имени Андрианова
        li.item.special
          .part
          .part
            p 
              b В настоящее время работает преподавателем в институте остеопатии и постоянно посещает дополнительные семинары:
        li.item
          .part
            span 2015 г.
          .part
            p «Функциональный подход к остеопатическим манипуляциям». Michael Mulholland - Licht, Австрия
        li.item
          .part
            span 2016 г.
          .part
            p Институт остеопатической медицины. Курс обучения по теме: «Движение и неподвижность – концепция Р. Беккера»
        li.item
          .part
            span 2016, 2017 гг.
          .part
            p Институт остеопатической медицины. Курс обучения по теме: «Движение и неподвижность – концепция Р. Беккера» Й. Майер
      .button
        a.btn записаться на прием