extends ../layout/main

block content
  main.service__main.hire
    .part
      h1.title Приглашаем высококлассных специалистов в нашу дружную команду!
      p.title Мы предлагаем:
      ul.list
        li.item
          p Конкурентную заработную плату
        li.item
          p Оформление по ТК РФ
        li.item
          p Удобный график работы
        li.item
          p Комфортные условия труда
        li.item
          p Дружный коллектив
    .part
      .inner
  section.service__description.hire
    .container
      .content
        h2.title Открытые вакансии
        ul.list
          li.item
            span Врач-остеопат
          li.item
            span Иглорефлексотерапевт
          li.item
            span Невролог
          li.item
            span Врач ЛФК
          li.item
            span Массажист
        .detail
          p Резюме просим присылать на почту
          a(href="mailto:mail@lekarspb.ru") mail@lekarspb.ru
        .detail
          p Контактный телефон
          a(href="tel:+79819980535") +7 (981) 998 05 35