extends ../layout/gray

block content
  .content
    .price__block
      h2.title Остеопатия
      table(role="table")
        thead(role="rowgroup")
          tr(role="row")
            th(role="columnheader") Услуга
            th(role="columnheader") Цена,&#160;руб.
            th(role="columnheader") Продолжительность
        tbody(role="rowgroup")
          tr(role="row")
            td(role="cell") Консультация врача-остеопата
            td(role="cell") 2000
            td(role="cell") 20 минут
          tr(role="row")
            td(role="cell") Лечение остеопатическое (взрослые)
            td(role="cell") 4000
            td(role="cell") 45 минут
          tr(role="row")
            td(role="cell") Лечение остеопатическое (дети)
            td(role="cell") 3500
            td(role="cell") 40 минут
    .price__block
      h2.title ЛФК дети
      table(role="table")
        thead(role="rowgroup")
          tr(role="row")
            th(role="columnheader") Услуга
            th(role="columnheader") Цена,&#160;руб.
            th(role="columnheader") Продолжительность
        tbody(role="rowgroup")
          tr(role="row")
            td(role="cell") Консультация врача ЛФК
            td(role="cell") 1500
            td(role="cell") 20 минут
          tr(role="row")
            td(role="cell") Первичный прием (консультация + прием)
            td(role="cell") 2000
            td(role="cell") 40 минут
          tr(role="row")
            td(role="cell") Занятие
            td(role="cell") 1500
            td(role="cell") 40 минут
    .price__block
      h2.title ЛФК взрослые
      table(role="table")
        thead(role="rowgroup")
          tr(role="row")
            th(role="columnheader") Услуга
            th(role="columnheader") Цена,&#160;руб.
            th(role="columnheader") Продолжительность
        tbody(role="rowgroup")
          tr(role="row")
            td(role="cell") Занятие
            td(role="cell") 500
            td(role="cell") 30 минут
          tr(role="row")
            td(role="cell") Занятие
            td(role="cell") 1000
            td(role="cell") 60 минут
          tr(role="row")
            td(role="cell") Занятие
            td(role="cell") 1500
            td(role="cell") 90 минут
    .price__block
      h2.title Индивидуальные тренировки
      table(role="table")
        thead(role="rowgroup")
          tr(role="row")
            th(role="columnheader") Услуга
            th(role="columnheader") Цена,&#160;руб.
            th(role="columnheader") Продолжительность
        tbody(role="rowgroup")
          tr(role="row")
            td(role="cell") Индивидуальная тренировка 
            td(role="cell") 2500
            td(role="cell") 60 минут
    .price__block
      h2.title Массаж
      table(role="table")
        thead(role="rowgroup")
          tr(role="row")
            th(role="columnheader") Услуга
            th(role="columnheader") Цена,&#160;руб.
            th(role="columnheader") Продолжительность
        tbody(role="rowgroup")
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 2500
            td(role="cell") 60 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 3000
            td(role="cell") 90 минут
          tr(role="row")
            td(role="cell") Массаж спины  
            td(role="cell") 1500
            td.empty(role="cell") -
          tr(role="row")
            td(role="cell") Шейно-грудная зона 
            td(role="cell") 1000
            td.empty(role="cell") -
          tr(role="row")
            td(role="cell") Верхний плечевой пояс  
            td(role="cell") 1000
            td.empty(role="cell") -
          tr(role="row")
            td(role="cell") Икроножные мышцы, стопы 
            td(role="cell") 800
            td.empty(role="cell") -
          tr(role="row")
            td(role="cell") Пояснично-крестцовая зона
            td(role="cell") 800
            td.empty(role="cell") -
          tr(role="row")
            td(role="cell") Лимфодренажный массаж (ягодицы + ноги)
            td(role="cell") 1500
            td.empty(role="cell") -
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 2500
            td(role="cell") 60 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 3000
            td(role="cell") 90 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 2500
            td(role="cell") 60 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 3000
            td(role="cell") 90 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 2500
            td(role="cell") 60 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 3000
            td(role="cell") 90 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 2500
            td(role="cell") 60 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 3000
            td(role="cell") 90 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 2500
            td(role="cell") 60 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 3000
            td(role="cell") 90 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 2500
            td(role="cell") 60 минут
          tr(role="row")
            td(role="cell") Общий массаж  
            td(role="cell") 3000
            td(role="cell") 90 минут
    .price__block
      h2.title Абонементы
      table(role="table")
        thead(role="rowgroup")
          tr(role="row")
            th(role="columnheader") Количество посещений
            th(role="columnheader") Скидка
        tbody(role="rowgroup")
          tr(role="row")
            td(role="cell") на 10 посещений (одного направления)
            td(role="cell") 15%
          tr(role="row")
            td(role="cell") на 5 посещений (одного направления)
            td(role="cell") 10%
