extends ../layout/main

block content
  main.service__main
    .part
      h1.title 
        | Подготовка
        br
        | к&#160;беременности 
      p.subtitle 
        | Мечты о&#160;ребенке, 
        | рассматривание детских колясок, игрушек, пинеток, кроваток… 
        | Планирование беременности&#160;-&#160;очень важный этап в&#160;жизни каждой женщины. 
        | Однако не&#160;многие задумываются о&#160;подготовке «благодатной почвы» 
        | для&#160;вынашивания и&#160;рождения малыша.
    .part
      .inner
  section.service__description
    .container
      h2.title 
        | Что же может сделать женщина 
        br
        | на этапе планирования беременности?
      .content
        .part
          p Не пренебрегать советами гинеколога и пройти необходимые обследования.
          p Посетить врачей-специалистов, если есть хронические заболевания.
          p Привести в порядок зубы.
          p 
            b 
              | В этот период очень важен врач-остеопат. 
              | Как ни странно, но мало кто из врачей обращают внимание на кости таза, 
              | поясницы, баланс матки и придатков. А ведь это основное! 
              | От этих структур вообще зависит женское здоровье.
        .part
          p 
            | Почему важно обратится к остеопату до беременности? 
            | Потому что женщинам в интересном положении уже нельзя использовать 
            | многие техники для устранения проблем, которые легко можно исправить до беременности. 
            | Остеопат обращает внимание на все тело, все отделы и органы, 
            | ведь от того, как они будут работать, зависит не только здоровье будущей мамы, но и малыша. 
          p 
            | Специалисты клиники «Лекарь» помогут вам подготовить организм к вынашиванию и родам. 
            | Мы гарантируем бережный и профессиональный подход к каждому пациенту, 
            | уютную и расслабленную атмосферу, которая так важна для будущей мамы. 
      .button
        a.btn Посмотреть цены на услуги клиники