extends ../layout/main

block content
  main.service__main.service-6
    .part
      h1.title 
        | Остеопатия 
        br
        | для взрослых
      p.subtitle 
        | Чем больше нам лет, тем более ответственно мы относимся к своему здоровью.
        br
        br
        | В круговороте жизни важно многое успеть: стать хорошими родителями, заработать денег, 
        | отдохнуть, расслабиться… Поэтому любая проблема со здоровьем выбивает из привычного ритма.
    .part
      .inner
  section.service__description.service-6
    .container
      .content
        .part
          p 
            | Поддерживать здоровье и активность поможет остеопатия. 
            | Она является современным, эффективным и безопасным методом лечения и профилактики.  
          p 
            | Сидячий образ жизни (работа за компьютером, передвижение на машине) приводит к возникновения целого рядя проблем, 
            | с которыми легко справляются врачи-остеопаты совместно с тренерами и массажистами. 
            | В нашей клинике мы предлагаем комплексный подход к поддержанию и восстановлению вашего здоровья в любом возрасте.
          p.note Без лекарств и побочных эффектов!
      .button
        a.btn Посмотреть цены на услуги клиники