extends ../layout/main

block content
  main.service__main.service-4
    .part
      h1.title 
        | Реабилитация 
        br
        | после травм
      p.subtitle 
        | Травмы обычно случаются из-за чрезмерной нагрузки на конечности или суставы. 
        | Не рассчитали вес на тренажёре, неправильно выполнили упражнение, 
        | упали во время игры в футбол, волейбол, хоккей?
      p.subtitle 
        | Что происходит при травме: сначала растягиваются и перенапрягаются мышцы и связки – это первый мышечно-суставной барьер. 
        | Если нагрузка продолжается, страдает капсула сустава и связки внутри него – уже анатомический барьер. 
        | Это чревато разрывом связок или переломом.
    .part
      .inner
  section.service__description
    .container
      h2.title.special
        | Что такое травма?
      p.subtitle Некоторые считают, что травма - минимум перелом. Это не так.
      .content.special
        .part
          h3.title Если у вас случались:
          ul.list
            li.item
              p растяжение связок
            li.item
              p боли в области суставов, связанные с физической нагрузкой
            li.item
              p надрывы, разрывы связок или мышц
            li.item
              p надрывы, разрывы связок или мышц
            li.item
              p падение
            li.item
              p перелом любых костей
            li.item
              p ДТП (даже без видимых последствий)
        .part.special
          h3.title …значит вы не понаслышке знаете, что такое травмы. И все они требуют лечения и восстановления:
          ul.list
            li.item
              p для более быстрого возвращения пациента к привычной жизни
            li.item
              p уменьшения боли
            li.item
              p профилактики осложнений в будущем (боли в спине, головных болей, артрозов, артритов и т.д)
      h2.title.special
        | Что делать?
      p.subtitle Если есть острая боль, покраснение, отёк, нужна помощь травматолога для исключения или подтверждения перелома или разрыва связки. Возможно, понадобится гипс или жёсткая повязка.
      p.subtitle На всех этапах лечения помощь остеопата будет очень полезна.
      .content
        .part
          h3.title Остеопатия может:
          ul.list
            li.item
              p уменьшить отёк
            li.item
              p улучшить кровообращение в зоне повреждения
            li.item
              p ускорить заживление
            li.item
              p устранить дисфункции в органах, которые влияют на скорость и качество заживления (печень, лёгкие, соответствующий отдел позвоночника)
        .part
          p 
            | А можно ничего не делать? Многие не обращают внимания на мелкие травмы, а это опасно. 
            | Последствия травм могут быть незаметными и не проявляться годами. 
            | Но вдруг неожиданно что-то начинает болеть, или травма повторяется. 
            | И причина этого - неадекватное восстановление и реабилитация.
          p Для начала остеопатического лечения не нужно ждать. Чем раньше начать лечение, тем в более короткие сроки наступит восстановление.
          p
            b Если хирург имеет смелость отправить пациента к остеопату – это современно!
      .button
        a.btn Посмотреть цены на услуги клиники