extends ../layout/main

block content
  main.service__main.service-7
    .part
      h1.title 
        | Остеопатия для детей
      p.subtitle 
        | Вложение в здоровье ребенка&#160;–&#160;это самая важная и нужная инвестиция. 
        | Детям нужен остеопат с&#160;самого раннего возраста. 
        | Чем раньше ребенок встречается с остеопатом, тем больше у&#160;врача возможностей помочь. 
        | В&#160;период новорожденности важно устранить послеродовые последствия. 
        | У&#160;одних они проявляются явно, у других нет. 
        | Большая ошибка родителей&#160;—&#160;это ждать каких-либо жалоб или симптомов.
        br
        br
        | Для каждого возраста характерны свои особенности развития и свои заболевания.
    .part
      .inner
  section.service__description.service-7
    .container
      .content
        h2.title Поводы привести ребенка к остеопату:
        .row
          .part
            ul.list
              li.item Перенесённые травмы
              li.item Нарушение осанки
              li.item Боли в животике
              li.item Болезненное прорезывание зубов
              li.item Частые простудные заболевания
          .part
            ul.list
              li.item Гиперактивность, раздражительность
              li.item Плохой сон
              li.item Задержка речевого и психоэмоционального развития
              li.item Профилактические лечение
        p.note 
          | Остеопатия абсолютно безопасна и очень эффективна. 
          | Мягкость техник позволяет 
          br
          | работать с детишками, начиная с рождения.
        h3.title 
          | Зачем ребёнку-дошкольнику приём 
          br
          | у врача остеопата?
        p 
          | Дети-дошкольники часто болеют простудными и инфекционными заболеваниями. 
          | Родители особенно болезненных детишек очень переживают, постоянно ходят по врачам и сдают всевозможные анализы. 
          | А ребёнок все болеет.
        .row
          .part.less
            p.big Какие возможности есть у остеопатии при лечении простудных заболеваний и ЛОР-патологии?
            p 
              | Повторяющиеся отиты у детей могут быть связаны со смещением и неправильным функционированием височных костей в результате родовой травмы. 
              | При заболеваниях носа чаще всего страдают решетчатая кость и околоносовые пазухи.
            p 
              | Лекарствами и физиопроцедурами эти нарушения не устранить, 
              | здесь может помочь только остеопатическая коррекция костей черепа.
          .part
            p 
              b Поэтому задача остеопата при ЛОР-патологии восстановить:
            ul.list
              li.item подвижность костей черепа и крестца
              li.item улучшить дренажную функцию пазух
              li.item обеспечить хороший венозный и лимфатический отток из проблемных зон
              li.item общий баланс организма (ведь любое нарушение ведет к реакции всего организма)
              li.item уравновесить тонус вегетативной нервной системы, раздражение которой приводит к избыточному выделению слизи.
        h3.title Гиперактивность и СДВГ
        p 
          | Гиперактивность тесно связана с нейропсихологическими проблемами у ребенка. 
          | Остеопат может помочь и в данной ситуации, восстанавливая баланс между процессами возбуждения и торможения в коре головного мозга, 
          | уравновешивая и освобождая краниосакральную систему, улучшая регуляцию мозговых функций.
      .button
        a.btn Посмотреть цены на услуги клиники