extends ../layout/main

block content
  main.service__main.after--birth
    .part
      h1.title 
        | Восстановление
        br
        | после&#160;родов 
      p.subtitle 
        | Рождение ребенка&#160;-&#160;счастливый, трепетный и&#160;сложный момент жизни. 
        | Роды&#160;–&#160;это естественный процесс, в&#160;котором многое зависит от состояния здоровья женщины. 
        | Во время беременности, родов и&#160;периода кормления малыша организм мамы испытывает запредельные нагрузки.
        br
        br
        | Изменяются пропорции тела, скачут гормоны… 
        | Женщине необходима не только физическая и психологическая поддержка со&#160;стороны близких, но и&#160;помощь врачей. 
        | Если после родов не&#160;возникло осложнений, требующих подключения других специалистов, 
        | самый главный врач для женщины&#160;-&#160;остеопат.
    .part
      .inner
  section.service__description
    .container
      h2.title 
        | Что часто беспокоит женщин
        br
        | после родов
      .content
        .part
          p боли в области копчика и всевозможных других местах в&#160;области таза;
          p проблемы с мочеиспусканием;
          p жалобы на боли в&#160;области рубца после кесарева сечения.
          p 
            b 
              | Остеопат сможет эффективно и&#160;безопасно привести в&#160;порядок кости и&#160;органы таза, 
              | избавить от&#160;болей и&#160;дискомфорта.
        .part
          p 
            | Еще одним важным элементом является грудное вскармливание. 
            | Для хорошего качества и&#160;количества молока нужна хорошая циркуляция крови и&#160;ликвора в&#160;организме женщины, 
            | и&#160;врач-остеопат может положительно и&#160;безопасно влиять на&#160;эти сложные процессы. 
          p 
            | Самое главное для малыша&#160;–&#160;это его мама. 
            | Поэтому в&#160;послеродовой период женщина должна, как никогда, позаботиться о&#160;своем здоровье!
  section.service__main.after--operation
    .part
      h1.title 
        | Восстановление
        br
        | после&#160;операций 
      p.subtitle 
        | Когда человек перенёс операцию на&#160;животе, голове, руке или ноге шрам остаётся не&#160;только на&#160;коже. 
        | После любой операции внутри появляются спайки&#160;–&#160;это защитная реакция организма и&#160;это далеко не&#160;всегда зависит от&#160;профессионализма хирурга. 
        | Но&#160;это остаётся на&#160;всю жизнь.
    .part
      .inner
  section.service__description.after--operation
    .container
      .content
        .part
          p 
            | После операций на брюшной полости (аппендицит, удаление желчного пузыря, грыжа, гинекологические операции) спайки могут причинять неудобства – 
            | может нарушиться процесс пищеварения, что влечет проблемы со стулом, боли в любых отделах живота, тошноту.
          p 
            | Например, пациентка после удаления желчного пузыря – абсолютно довольна и счастлива проведённой операцией и нахождением в больнице. 
            | Однако после еды появляются боли в правом боку, также боли при поворотах туловища. 
            | В такой ситуации приходится думать о том, что человеку нужно помочь адаптироваться к новым условиям работы – 
            | без желчного пузыря и привыкнуть к образовавшимся спайкам,   они могут не мешать. 
        .part
          p 
            | Врач остеопат имеет возможность уравновесить, сбалансировать и снять спазм в разных отделах пищеварительной системы, улучшить подвижность печени, 
            | тонкой кишки, сфинктеров. Увеличивая подвижность спаек улучшается подвижность органов, а значит и их функционирование.
          p 
            | Часто после оперативного вмешательства пациенты жалуются на дискомфорт в области шва: он может стягивать окружающие ткани, зудеть, болеть. 
            | Остеопат снимет напряжение в области рубца, размягчит его, поможет наладить кровоток. 
            | Если хирург имеет смелость отправить пациента к остеопату – это современно!
      .button
        a.btn(href="") Посмотреть цены на услуги клиники