extends ../layout/main

block content
  main.service__main.service-10
    .part
      h1.title 
        | Остеопатия 
        br
        | для&#160;беременных 
      p.subtitle 
        | Беременность – радостное и сложное время. 
        | От состояния здоровья мамы напрямую зависит здоровье ребенка.
        br
        br
        | Чтобы наслаждаться каждым днем волнительного ожидания и прекрасно себя чувствовать, 
        | будущей мамочке рекомендуется наблюдаться не только у гинеколога, но и у остеопата. 
        | Задача остеопата состоит в том, чтобы у женщины не было дискомфорта и болей, 
        | а ребёнку ничего не мешало развиваться правильно.
    .part
      .inner
  section.service__description.service-10
    .container
      h2.title
        | Во все сроки беременности остеопат 
        br
        | уделяет много внимания:
      .content
        ul.list
          li.item
            p костям и суставам таза
          li.item
            p позвоночнику
          li.item
            p диафрагме и грудной клетке
          li.item
            p печени
          li.item
            p почкам 
          li.item
            p всем органам и системам, которые находятся в дисбалансе. 
        .row
          .part
            .inner
              h2.title Первый триместр
              p 
                | В этот период часто беспокоят тошнота и симптомы токсикозы. 
                | Врач-остеопат может улучшить работу печени и нормализовать отток крови от черепа, что приведёт к уменьшению проявлений токсикоза. 
            .inner
              h2.title Второй триместр
              p 
                | Женщину начинают беспокоить боли в пояснице из-за изменений осанки, 
                | а также давление матки на внутренние органы (почки).
              p 
                | Часто появляются головные боли, так как во время беременности объем крови увеличивается. 
                | Из-за дисфункции шеи или других причин отток крови ухудшается, что вызывает боли. 
                | Остеопатическое лечение помогает будущим мамам значительно облегчить головные боли.
              p 
                | Каждый прием остеопат работает с диафрагмой, легкими и грудной клеткой в целом. 
                | Ведь крайне важно, чтобы легкие «хорошо» дышали и обеспечивали организм нужным количеством кислорода.
          .part
            .inner
              h2.title Третий триместр
              p 
                | Роды уже скоро, поэтому важно подготовить таз к этому трудному этапу. 
                | Остеопат работает с суставами таза, мышцами тазового дна, уравновешивает и устраняет тонус матки.
              p 
                | Для помощи беременным врачи-остеопаты клиники «Лекарь» в дополнение к основному лечению используют тейпы. 
                | Они абсолютно безопасны! Их можно применять вместо бандажа при болях в спине.
              p 
                | Остеопатическое ведение беременности даёт хорошие результаты 
                | для состояния здоровья матери и бесценный вклад в здоровье малыша!