extends ../layout/gray

block content
  .content.services
    h1.title Услуги клиники "Лекарь"
    ul.list
      li.item
        a(href="") Остеопатия для взрослых
      li.item
        a(href="") Остеопатия для детей
      li.item
        a(href="") Остеопатия для беременных
      li.item
        a(href="") Забота о здоровье офисных сотрудников
      li.item
        a(href="") Реабилитация после травм
      li.item
        a(href="") Восстановление после родов и операций
      li.item
        a(href="") Лечебная физкультура
      li.item
        a(href="") подготовка к беременности