extends ../layout/main

block content
  main.service__main.service-11
    .part
      h1.title 
        | Лечебный массаж
      p.subtitle 
        | Массаж – это уникальная процедура, которая направлена как на лечение, 
        | так и на профилактику различных заболеваний. 
        | Он не только способен решить проблемы со здоровьем, но и улучшить качество жизни, 
        | подарить легкость, восстановить силы и снять напряжение.
    .part
      .inner
  section.service__description.service-11
    .container
      h2.title
        | Чем полезен лечебный массаж?
      .content
        .part
          h3.title Лечебный массаж напрямую воздействует на все системы организма:
          ul.list
            li.item
              p Костно-мышечную
            li.item
              p Кровеносную
            li.item
              p Нервную
            li.item
              p Лимфатическую
          h3.title Лечебный массаж помогает при:
          ul.list
            li.item
              p Головной боли
            li.item
              p Боли в спине, мышцах, мышечных блоках и зажимах
            li.item
              p Бессоннице, хронической усталости
            li.item
              p Сколиозе, остеохондрозе, протрузиях
            li.item
              p Отеках
          p.spec
            | Частым результатом после курса лечебного массажа становится улучшение качества жизни: 
            | до этого пациент считал, что чувствовать себя уставшим, испытывать боль, плохо спать — это нормально.
        .part
          p 
            | После курса такая симптоматика уходит, и пациент понимает, 
            | что можно жить иначе: легко, реже или вовсе не болеть, иметь больше энергии, 
            | крепко спать и легко просыпаться, и вообще, получать больше удовольствия от жизни благодаря крепкому здоровью.
          h3.title В клинике Лекарь практикуются различные виды массажа: 
          ul.list
            li.item
              p Лечебный
            li.item
              p Лимфодренажный
            li.item
              p Классический
            li.item
              p Успокаивающий
            li.item
              p Спортивный
            li.item
              p Косметический
            li.item
              p Тейпирование
          p 
            | Массаж показан пациентам всех возрастов. Тип и интенсивность воздействия, 
            | а также необходимое количество сеансов определяет специалист во время очного приема.
      .button
        a.btn Посмотреть цены на услуги клиники