extends ../layout/main

block content
  main.service__main.service-5
    .part
      h1.title 
        | Предложение для офисных сотрудников
      p.subtitle 
        | Мы понимаем, что работники офисов требуют особого внимания. 
        | Поэтому предлагаем спектр услуг, которые помогут чувствовать себя лучше, 
        | а значит и повысить эффективность вашей работы.
      p.title Чаще всего офисные сотрудники жалуются на:
      ul.list
        li.item
          p головные боли 
        li.item
          p боли в разных отделах позвоночника
        li.item
          p бессонницу
    .part
      .inner
  section.service__description.service-5
    .container
      .content
        .part
          p 
            | Нам известно, что происходит, когда человек проводит много времени, сидя перед монитором. 
            | Услуги нашей клиники позволяют комплексно восстанавливать работоспособность. 
            | Врач остеопат может устранить дисфункции позвоночника, улучшить кровообращения головного мозга, восстановить дыхание. 
          p 
            | Для поддержания здоровья мы предлагаем комплексное лечение, в которое входят индивидуальные тренировки с профессиональным тренером. 
            | Он подбирает упражнения, основываясь на уровне вашей физической подготовки, учитывает состояние разных групп мышц. 
            | Наш тренер даст рекомендации и комплекс упражнений, которые вы сможете выполнять дома и эффективно восстанавливаться после рабочего дня. 
        .part
          p 
            | Массаж помогает дополнительно расслабить мышцы шейного, грудного и поясничного отделов. 
            | Лимфодренажный массаж избавит от отеков, заработанных во время многочасового сидения на рабочем месте.
          p 
            b
              | Такой комплекс эффективных и безопасных методик позволит значительно улучшить качество жизни и повысить работоспособность.
      .button
        a.btn Посмотреть цены на услуги клиники