extends ../layout/main

block content
  main.service__main.service-8
    .part
      h1.title 
        | Лечебная физкультура
        br
        | для&#160;детей 
      p.subtitle 
        | Чем раньше родители начнут обращать внимание на то, как ребенок двигается (переворачивается, садится, ползает, встает, начинает ходить), 
        | тем качественнее начинают формироваться движения малыша.
    .part
      .inner
  section.service__description.service-8
    .container
      h2.title
        | Цели занятия лечебной гимнастикой
        br
        | для детей первого года жизни:
      .content
        ul.list
          li.item
            p Развитие двигательной активности, обучение основным двигательным навыкам в соответствии с возрастом.
          li.item
            p Научить мышцы работать определённым образом, чтобы в дальнейшем движения становились более разнообразными и целенаправленными.
          li.item
            p Развитие мелкой моторики и способствование развитию речи.
          li.item
            p Выявление нарушений, связанных с поражением центральной нервной системы, своевременное принятие дополнительных мер. 
            span 
              | В первую очередь в движении участвуют двигательные центры головного мозга, 
              | именно поэтому важно обращать внимание не только на мышцы, кости, суставы, связочный аппарат, 
              | но и на то, как головной мозг обрабатывает информацию, поступающую от этих органов.
        .row
          .part
            p 
              | Занятия строятся в виде игры с использованием специального оборудования: 
              | мягких модулей, мячей, матов, ортопедических дорожек, качелей, батутов, игрушек для развития мелкой моторики.
            p 
              | Постоянное перемещение ребенка по кабинету с опорой на разные поверхности способствует развитию равновесия, 
              | тактильного и мышечно-суставного чувства.
          .part
            p 
              | Лечебная гимнастика для детей старше года необходима для развития физических качеств: 
              | силы, выносливости, гибкости, ловкости, быстроты.
            p 
              | Лечебная гимнастика – профилактика вялых осанок, сколиозов, искривления нижних конечностей, 
              | плоско-вальгусной деформации стоп.
        p 
          | Занятие длится 
          span 40 минут.
        p 
          | Рекомендуемый курс занятий –  
          span 10 раз 
          | (по 2 раза в неделю).
  section.service__main.service-9
    .part
      h1.title 
        | Лечебная физкультура
        br
        | для&#160;взрослых 
      p.subtitle 
        | ЛФК рекомендуется как один из эффективных методов комплексной терапии. 
        | ЛФК незаменима не только для лечения заболеваний опорно-двигательного аппарата, 
        | но и для их профилактики, реабилитации после перенесенных травм, повышения общего тонуса и улучшения самочувствия.
        br
        br
        | Профессиональный врач ЛФК подходит к каждому индивидуально, подбирает упражнения, интенсивность и длительность курса, 
        | исходя из всех аспектов состояния здоровья пациента.
    .part
      .inner
  section.service__description.service-9
    .container
      .content
        .part
          p 
            | Показания к ЛФК:
          ul.list
            li.item
              p Нарушение осанки
            li.item
              p Сколиоз
            li.item
              p Остеохондроз
            li.item
              p Межпозвоночные грыжи
            li.item
              p Перенесенные травмы
            li.item
              p Синдром хронической усталости
            li.item
              p Малоподвижный образ жизни
        .part
          p.note 
            | Регулярные занятия 
            br
            | гимнастикой – залог активной 
            br
            | жизни!
      .button
        a.btn(href="") Посмотреть цены на услуги клиники