extends ../layout/main

block content
  main.team
    .container
      h1.title Наши специалисты
      ul.list.slider
        li.item
          a(href="")
            .photo
              img(src="./assets/img/doctors/doctor-1.jpg", alt="photo")
            p.name 
              | Альтмарк 
              br
              | Екатерина Михайловна
            p.descr
              | Врач-остеопат, 
              br
              | кандидат медицинских наук
        li.item
          a(href="")
            .photo
              img(src="./assets/img/doctors/doctor-2.jpg", alt="photo")
            p.name 
              | Мерзлякова
              br
              | Ирина Юрьевна
            p.descr
              | Врач-остеопат
        li.item
          a(href="")
            .photo
              img(src="./assets/img/doctors/doctor-3.jpg", alt="photo")
            p.name 
              | Налимова
              br
              | Анжелика Вячеславовна
            p.descr
              | Детский врач ЛФК
        li.item
          a(href="")
            .photo
              img(src="./assets/img/doctors/doctor-4.jpg", alt="photo")
            p.name 
              | Никитина
              br
              | Элеонора Викторовна
            p.descr
              | Врач-остеопат
        li.item
          a(href="")
            .photo
              img(src="./assets/img/doctors/doctor-5.jpg", alt="photo")
            p.name 
              | Рыбаков 
              br
              | Виталий
            p.descr
              | Тренер