@import "utils/reset";
@import "utils/vars";
@import "utils/fonts";

html {
  font-family: $mainFont;
  background-color: $white;
}

// Links
a {
  text-decoration: none;
  color: $textColor;

  &:active,
  &:hover {
    outline: 0;
    color: $textColor;
  }
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  &.no-scroll {
    height: 100vh;
  }
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.content{
  background-color: $white;
}

main.main{
  & P{
    color: $textColor;
  }
}

section,
main,
header{
  padding: 0 20px;
}

h1.title {
  font-size: $fz11;
  color: $headerColor;
  font-weight: $extraBold;
}

h2.title {
  font-size: $fz9;
  color: $black;
  font-weight: $bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: $ls1;
  line-height: $lineHeight4;
  padding-top: 25px;
  position: relative;
  text-align: center;
  &::before{
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    background-image: url('/assets/img/icons/icon-title-2.svg');
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

.button {
  text-align: center;
  & a.btn{
    color: $white;
    display: inline-block;
    padding: 0 30px 0 15px;
    height: 45px;
    line-height: 45px;
    transition: .2s;
    background-color: $green;
    cursor: pointer;
    text-align: center;
    background-image: url('/assets/img/icons/icon-btn-arrow.svg');
    background-size: auto 13%;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    color: $white;
    letter-spacing: $ls3;
    font-size: $fz3;
    font-weight: $bold;
    text-transform: uppercase;
    &:hover{
      background-position: 92% 50%;
    }
  }
}

.visible__sm {
  display: none;
}

.visible__md {
  display: none;
}

@import "modules/header.scss";

@import "modules/menu.scss";

@import "modules/burger.scss";

@import "modules/message.scss";

@import "modules/doctors.scss";

@import "modules/categories.scss";

@import "modules/form.scss";

@import "modules/index.scss";

@import "modules/socials.scss";

@import "modules/footer.scss";

@import "modules/slick.scss";

@import "modules/slick-theme.scss";

@media (min-width: $tablet) {
  .visible__sm {
    display: block;
  }

  .hidden__sm {
    display: none;
  }
}

@media (min-width: $smDesktopWidth) {
  .hidden__md{
    display: none;
  }

  .visible__md{
    display: block;
  }

  h2.title{
    font-size: $fz40;
  }

  .container{
    padding: 0 50px;
  }

  section,
  main,
  header{
    padding: 0 67px;
  }
}
